<aside class="top-menu-movil">
    <div class="btn-toogle-menu" onclick="toogleMenuTop();">
        <img class="img-arrow" src="../../../../assets/images/arrow-down.svg" alt="flecha abajo">
    </div> 
    <ul class="top-menu">
        <li><a [routerLink]="['/Unete']">Afíliate al SNP</a></li>
        <li><a [routerLink]="['/Beneficios']">Tus beneficios</a></li>
        <li><a [routerLink]="['/Asegura']">Tus opciones de jubilación</a></li>
        <li><a [routerLink]="['/Afp']">Si estás en una AFP</a></li>
        <li><a [routerLink]="['/Facil','cifras']">Cifras del SNP</a></li>
        <li><a [routerLink]="['/Financiamiento']">Financiamiento</a></li>
    </ul>
</aside>

<section class="wrapper__menu">
    <div class="menu-top-header">
        <ul>              
            <li><a [routerLink]="['/Unete']">Afíliate al SNP</a></li>
            <li class="active"><a [routerLink]="['/Beneficios']">Tus beneficios</a></li>
            <li ><a [routerLink]="['/Asegura']">Tus opciones de jubilación</a></li>
            <li ><a  [routerLink]="['/Afp']">Si estás en una AFP</a></li>
            <li><a [routerLink]="['/Facil','cifras']">Cifras del SNP</a></li>
            <li><a  [routerLink]="['/Financiamiento']">Financiamiento</a></li>
        </ul>
    </div>
</section>

<section class="banner">
    <div class="banner__wrapper" style="--bg-color-banner: var(--white-color);">
        <picture>
          <source media="(max-width: 768px)" srcset="../../../assets/images/facil/banner-movil-beneficios.png">
          <source media="(min-width: 1024px)" srcset="../../../assets/images/facil/banner-beneficios-desktop.png">
          <img loading="lazy" src="../../../assets/images/facil/banner-beneficios-desktop.png">
        </picture>
        <div class="banner__detail container">
            <h1 class="section-title animate__animated animate__fadeInDown">Pertenecer al Sistema Nacional de Pensiones tiene beneficios que tal vez no conocías.</h1>
        </div>
    </div>
</section>

<section class="increases">
    <h2>Incrementos</h2>
    <p>Tu pensión aumentará bajo ciertas condiciones:</p>
    <div class="increases__carrusel" id="increases-carrusel">
        <div class="increases__item">
            <img loading="lazy" class="rounded-img" src="../../../assets/images/facil/link_incrementos1.jpg">
            <p>Si tu cónyuge o conviviente con declaración de unión de hecho depende económicamente de ti.</p>
        </div>
        <div class="increases__item">
            <img loading="lazy" class="rounded-img" src="../../../assets/images/facil/link_incrementos2.jpg">
            <p>Si tus hijas o hijos son menores de 18 años.</p>
        </div>
        <div class="increases__item">
            <img loading="lazy" class="rounded-img" src="../../../assets/images/facil/link_incrementos3.jpg">
            <p>Si tus hijas o hijos mayores de 18 años siguen estudios superiores o tienen discapacidad para trabajar.</p>
        </div>
    </div>
    <p class="bold first-link"><a href="https://www.gob.pe/715-solicitar-incremento-de-pension-por-conyuge-y-o-hijas-os-en-la-onp" target="_blank" rel="noopener">Conoce el Incremento por cónyuge y por hijas o hijos a su cargo >></a></p>
</section>

<section class="bonuses">
    <h2>Bonificaciones</h2>
    <div class="bonuses__carrusel" id="bonuses-carrusel">
        <div class="bonuses__item">
            <div>
                <img loading="lazy" src="../../../assets/images/facil/sb1_cuidado_permanente.svg">
            </div>
            <div>
                <p class="p-left bold">¿Eres pensionista y necesitas el cuidado permanente de otra persona?</p>
                <p class="p-left">La <b>bonificación por cuidado permanente</b> te corresponde en las siguientes situaciones:
                    Si tienes una discapacidad para el trabajo.</p>
                <p class="p-left bold">¿Eres beneficiaria o beneficiario de pensión de viudez o de orfandad y necesitas el cuidado permanente de otra persona? <a href="#" class="text-link">Ver más</a></p>
                <p class="hide">La <b>bonificación por cuidado permanente</b> te corresponde en las siguientes situaciones:
                    Si eres beneficiaria o beneficiario de pensión de viudez y necesitas de otra persona para realizar tus actividades diarias, según certificado médico de la Comisión Evaluadora.
                    Si eres beneficiaria o beneficiario de pensión de orfandad mayor de 18 años de edad y necesitas de otra persona para realizar tus actividades diarias, según certificado médico de la Comisión Evaluadora.</p>
            </div>
        </div>
        <div class="bonuses__item">
            <div>
                <img loading="lazy" src="../../../assets/images/facil/sb2_discapacidad.svg">
            </div>
            <div>
                <p>Esta <b>bonificación permanente</b> te corresponde si antes del 1 de enero de 2007 te convertiste en pensionista (de jubilación o de discapacidad para el trabajo) o en beneficiaria o beneficiario de pensión de viudez y si el monto de tu pensión no es mayor a S/ 500.</p>
                <p>Si eres pensionista de jubilación, debes haber cumplido 65 años de edad antes del 31 de diciembre de 2006 y haber aportado un mínimo de 20 años (240 unidades de aporte).</p>
            </div>
        </div>
        <div class="bonuses__item">
            <div>
                <img loading="lazy" src="../../../assets/images/facil/sb3_pensionista_70.svg">
            </div>
            <div>
                <p class="p-left">Si eres beneficiaria o beneficiario de pensión de viudez, si has cumplido 70 años de edad antes del 31 de agosto de 2005 y si esa es tu única pensión, entonces esta bonificación va para ti.</p>
                <p class="p-left">Puedes consultar por ella como <b>Bonificación permanente a las beneficiarias o beneficiarios de pensión de viudez mayores de 70 años.</b></p>
            </div>
        </div>
        <div class="bonuses__item">
            <div>
                <img loading="lazy" src="../../../assets/images/facil/sb4_pensionista_80.svg">
            </div>
            <div>
                <p class="p-left">Si eres pensionista de jubilación y cumples 80 años, esta bonificación es para ti y lo mejor es que no necesitas solicitarla. Puedes revisarla en tu boleta de pago como <b>Bonificación por Edad Avanzada - BEA.</b></p>
            </div>
        </div>
        <div class="bonuses__item">
            <div>
                <img loading="lazy" src="../../../assets/images/facil/sb5_pensionista_fonahpu.svg">
            </div>
            <div>
                <p class="p-left">Si eres pensionista, si cumpliste con los requisitos para ser beneficiaria o beneficiario de esta bonificación y si te inscribiste voluntariamente siguiendo el procedimiento de la ONP, seguramente vienes recibiendo la <b>Bonificación del Fondo Nacional de Ahorro Público - FONAHPU.</b></p>
            </div>
        </div>
        <div class="bonuses__item">
            <div>
                <img loading="lazy" src="../../../assets/images/facil/sb6_pensionista_65.svg">
            </div>
            <div>
                <p class="p-left">¿Eres beneficiaria o beneficiario de pensión de viudez y cumpliste 65 años de edad antes del 21 de diciembre de 2017? <b>La Bonificación extraordinaria a favor de las beneficiarias o beneficiarios de pensión de viudez</b> te corresponde.</p>
            </div>
        </div>
    </div>
</section>

<section class="complementary">
    <picture>
        <source media="(max-width: 768px)" srcset="../../../assets/images/facil/sb1_beneficios-complementarios-movil.png">
        <source media="(min-width: 1024px)" srcset="../../../assets/images/facil/beneficios-complementarios-desktop.png">
        <img loading="lazy" src="../../../assets/images/facil/beneficios-complementarios-desktop.png" alt="Beneficios complementarios">
    </picture>
    <div class="complementary__content">
        <h2>Beneficios complementarios</h2>
        <p>Hay un beneficio complementario para pensionistas mineras/os, metalúrgicas/os o siderúrgicas/os que realizan labores que implican riesgo en su vida o salud, más conocido como el ‘Bono minero’ el cual se solicita a través de la ONP y se cobra al año siguiente de presentada la solicitud.</p>
        <p><b>Fondo Complementario de Jubilación Minera, Metalúrgica y Siderúrgica.</b></p>
    </div>
</section>
 
 