/* /// CSS Architecture ONP Project /// */

/* >>>>>>>>>>> Custom Properties <<<<<<<<<<<< */
/* Definidas de forma global en styles.css */

.age-distribution {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
.age-distribution .section-title {
    grid-column: span 5;
}
.spacing-y {
    padding: 2.2rem 0 1rem;
}
.item-age {
    /*background-color: var(--gray-light-color);*/
    border-left: thin solid var(--second-color);
    border-right: thin solid var(--second-color);
    padding: 1rem;
    margin-bottom: 0.25rem;
    text-align: center;
}
.item-age-ini { 
    border-left: thin solid var(--second-color);    
    padding: 1rem;
    margin-bottom: 0.25rem;
    text-align: center;
}

.item-age:nth-child(even) {
    border-right: 0;
}

.percent-age {
    color: var(--second-color);
    font-weight: bold;
    font-size: 1rem;
}

.item-age p {
    color: var(--second-color);
    font-size: 0.8rem;
    margin-bottom: 0;
}

/* >>>>>>>>>>>>>>> Reset <<<<<<<<<<<<<<< */
a {
    color: var(--link-color);
    transition: all 0.5s ease-out;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0;
}

h4 {
    font-size: 1rem;
    margin: 0;
}

h5 {
    font-size: 0.85rem;
    margin: 0;
}

h6 {
    font-size: 0.7rem;
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

p {
    line-height: 1.6;
}

/* >>>>>>>>>>>>>>> Components <<<<<<<<<<<<<<<< */

/* Submenu desktop */
.dropdown {
    position: relative;
}
  
.dropdown__content {
    display: none;
    position: absolute;
    background-color: var(--second-color);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown .dropdown__content a {
    color: var(--five-color);
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    display: block;
}

.dropdown .dropdown__content a:hover {
    color: var(--white-color);
    background-color: var(--third-color);
}

.dropdown:hover .dropdown__content {
    display: block;
}

@media screen and (min-width: 1024px) {

    .dropdown__content {
        min-width: 13.75rem;
    }
}


/* *********** -> Header Page *********** */
.header-page {
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: var(--hero-attachment);
}

.header-page__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0;
}

.header-page__wrapper {
    background-image: url(../../../../assets/images/facil/bg-top-infoteca.png);
    background-repeat: repeat-y;
}

.header-page__content img {
    width: 3.25rem;    
}

.header-page__title {
    color: var(--title-color);
    font-size: 1.2rem;
    padding-left: 1rem;
    font-weight: 600;
}

/* ONP Top Menu */
.onp__top-menu {
    background-color: var(--second-color);
}

.btn-toogle-menu {
    background-color: var(--second-color);
    color: var(--white-color);
    text-align: center;
    padding: 0.7rem;
    cursor: pointer;
}

.btn-toogle-menu img {
    width: 1rem;
}

ul.top-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    z-index: 999;
    position: absolute;
    width: 100%;
    background: var(--second-color);
}

ul.top-menu li a {
    
    color: var(--white-color);
    padding: 0.7rem;
    display: block;
    text-align: center;
    text-decoration: none;
}

ul.top-menu li a:hover {
    background-color: var(--third-alpha-color);
}

/* Pagination */

.onp__pagination {
    margin: 2rem 0 1.5rem;
}

.onp__pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.onp__pagination li {
    background: var(--second-color);
    padding: 0.5rem 1rem;
    color: var(--white-color);
    margin: 0 0.2rem;

}

@media screen and (min-width: 768px) {

    .header-page__title {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1024px) { 

    .header-page__content {
        display: flex;
        justify-content: flex-start;
        padding: 2rem 0;
    }

    .header-page__content img {
        width: 4.5rem;    
    }

    .header-page__image-opacity {
        min-height: 22vh;
    }
    
    .header-page__title {
        font-size: 2rem;
        padding-left: 2rem;
    }

    .onp__top-menu {
        padding: 1rem 0;
    }

    .onp__top-menu .btn-toogle-menu {
        display: none;
    }

    .onp__top-menu .top-menu {
        display: flex;
        justify-content: space-between;
        max-width: var(--max-width);
        margin: 0 auto;
        position: relative;
        z-index: inherit;
    }

    ul.top-menu li a:hover {
        background-color: transparent;
        color: var(--link-color);
    }

}

/* *********** Utilities *********** */
.section {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);    
}

/* *********** Site Styles *********** */
.actuarial-info {
    padding: 1rem;
}

.card-download {
    padding: 1rem;
    border: 1px solid #b2b2b2;
    font-size: .8rem;
    color: var(--second-color);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.card-download__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 2px solid var(--second-color);
    padding-bottom: 0.5rem;
}

.card-download__details {
    font-weight: 400;
    padding-bottom: 2rem;
}

.card-download__icon {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
}

.card-download__icon img {
    width: 2rem;
}
.section-personalice{
    padding: 1rem 0 0 0 !important;
}
@media screen and (min-width: 1024px) {

    .actuarial-info {
        display: grid;
        grid-template-columns: repeat(3, 32.5%);
        justify-content: space-between;
        padding: 2.5rem 0;
    }

    .actuarial-info .onp__pagination {
        grid-column: span 3;
    }
   
}
@media screen and (max-width: 1024px) {
    .age-distribution{
        display: none;
    }
     
    .section-personalice{
        padding: 1rem 1rem 0!important;
    }
}