/* >>>>>>>>>>> Custom Properties <<<<<<<<<<<< */
/* Definidas de forma global en styles.css */

/* >>>>>>>>>>>>>>> Reset <<<<<<<<<<<<<<< */
.menu-top-header  .active {
    background-color: var(--second-color);
    color: var(--white-color);
}
a {
    transition: all 0.5s;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0;
}

h4 {
    font-size: 1rem;
    margin: 0;
}

h5 {
    font-size: 0.85rem;
    margin: 0;
}

h6 {
    font-size: 0.7rem;
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

p {
    line-height: 1.6;
}

/* >>>>>>>>>>>>>>> Components <<<<<<<<<<<<<<<< */

/* Menu Columns */
.menu-columns {
    padding: 1.5rem 1rem;
}

.menu-columns ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-columns li {
    padding: 0.8rem 1rem;
    margin-bottom: 10px;
    text-align: center;
    width: 33%;
    height: 40px;
    line-height: 0.9;
    border-left: thin solid var(--second-color);
    border-right: thin solid var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.menu-columns li:nth-child(even) {
    border-right: 0;
}

.menu-columns li:first-child {
    border-right: 0;
}

.menu-columns li a {
    color: var(--second-color);
    text-decoration: none;
    font-size: 0.8rem;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {

    .menu-columns {
        padding: 4rem 1rem 2rem;
        width: var(--max-width);
        margin: 0 auto;
    }

    .menu-columns ul {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    
    .menu-columns ul li:nth-child(3) {
        border-right: 0;
    }

}

/* >>>>>>>>>>>>>>> Utilities <<<<<<<<<<<<<<<< */
.bold {
    font-weight: bold;
}

.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.section {
    padding: 2rem;
}

.contenedor {
    margin: 0 auto;
    max-width: var(--max-width);
}

.btn-first {
    display: inline-block;
    padding: 0.3rem 1.5rem;
    background-color: var(--first-color);
    color: var(--white-color);
    margin: 1.5rem 0 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
}

.btn-first:hover {
    background-color: var(--second-color);
}

.section-title {
    color: var(--second-color);
    font-size: 1.4rem;
    line-height: 0.9;
    font-weight: bold;
    text-align: center;
    padding: 1rem 2rem;
}

.rounded-img {
    border-radius: 50%;
}

.p-left {
    text-align: left;
}

.hide {
    display: none;
}

a.first-link {
    color: var(--white-color);
    text-decoration: underline;
    transition: all 0.3s;
    font-weight: bold;
}

a.first-link :hover {
    color: var(--white-color);
}


.btn-first {
    padding: 0.3rem 1.5rem;
    background-color: var(--first-color);
    color: var(--white-color);
    margin: 1.5rem auto 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
}

.btn-first:hover {
    background-color: var(--second-color);
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

/* >>>>>>>>>>>>>>> SITE <<<<<<<<<<<<<<<< */
.banner__wrapper {
    position: relative;
    background-color: var(--bg-color-banner);
}

.banner__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 16%;
    padding: 0 2rem;
}

.banner__detail h1 {
    padding: 0;
    line-height: 1;    
}

.bonus {
    padding: 2rem 1rem 1rem;
    color: var(--second-color);
}

.bonus h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
}

.bonus__card {
    background: var(--gray-light-color);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;
    margin-bottom: 1rem;
    line-height: 1;
}

.bonus__card img {
    width: 30%;
}

.bonus__content {
    padding: 0 0.7rem 0 1rem;
}

.bonus__content p {
    line-height: 1.2;
    font-size: 1rem;
}

.bonus__content a {
    font-weight: bold;
    color: var(--second-color);
    font-size: 0.9rem;
}

@media screen and (min-width: 1024px) {

    .banner__detail {
        flex-direction: row;
        justify-content: flex-start;
        top: 40%;
        left: 16%;
        padding: 0;
        width: 85%;
    }
    
    .banner__detail h1 {
        line-height: 1;  
        font-size: 1.5rem;
        width: 30%;
        text-align: left;  
    }

    .bonus {
        width: var(--max-width);
        margin: 0 auto;
    }

    .bonus__carrusel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .bonus__carrusel div:nth-child(even) {
        flex-direction: row-reverse;
    }

    .bonus__carrusel div:nth-child(even) img {
        transform: scaleX(-1);
    }


    .bonus__card {
        padding: 0;
    }

    .bonus__card img {
        width: 30%;
    }

    .bonus__content {
        padding: 1.5rem 2rem;
    }

    .bonus__content p {
        font-size: 0.9rem;
    }

    .pension {
        margin-bottom: 2rem;
    }

}