
<section class="banner">
    <div class="banner__wrapper" style="--bg-color-banner: var(--white-color);">
        <picture>
          <source media="(max-width: 768px)" srcset="../../../assets/images/facil/banner-afp-movil.png">
          <source media="(min-width: 1024px)" srcset="../../../assets/images/facil/banner-afp-desktop.png">
          <img loading="lazy" src="../../../assets/images/facil/banner-afp-desktop.png">
        </picture>
        <div class="banner__detail contenedor">
            <h1 class="section-title animate__animated animate__fadeInDown">Si estás en una AFP
                Seguimos pensando en ti.</h1>
        </div>
    </div>
</section>

<section class="bonus">
    <h2>Bonos</h2>
    <div class="bonus__carrusel" id="bonus-carrusel">
        <div class="bonus__card">  
            <div class="bonus__content">
                <p>
                    ¿Estabas afiliada o afiliado al SNP y te trasladaste a una AFP? Entonces podría corresponderte alguno de los bonos de 1992, 1996 o 2001, los cuales fueron otorgados por el Estado, en reconocimiento de los aportes realizados al Sistema Nacional de Pensiones (SNP) por un trabajador o trabajadora, antes de incorporarse al Sistema Privado de Pensiones (SPP). 
                </p>
                <a href="https://www.gob.pe/12414-acceder-al-bono-de-reconocimiento-bdr" target="_blank" rel="noopener">Conoce más de los Bonos de Reconocimiento – BDR >></a>
            </div>
            <img loading="lazy" src="../../../assets/images/facil/afp_bono1.png">
        </div>
        <div class="bonus__card">  
            <div class="bonus__content">
                <p>
                    Este bono es para ti si te afiliaste a una AFP antes del 1 de enero de 2003, si accediste en ese momento a la jubilación anticipada para trabajadoras/es de riesgo y si hiciste directamente trabajos pesados en alguna de estas actividades:<br>
                    - Extracción minera subterránea.<br>
                    - Extracción minera a tajo abierto.<br>
                    - En centros de producción mineros, metalúrgicos y siderúrgicos expuestos a riesgos de toxicidad, peligrosidad e insalubridad.<br>
                    - Construcción civil. 
                </p>
                <p><b>Bonos de Reconocimiento Complementario - BRC</b></p>
            </div>
            <img loading="lazy" src="../../../assets/images/facil/afp_bono2.png">
        </div>
        <div class="bonus__card">  
            <div class="bonus__content">
                <p>
                    ¿Estás afiliada o afiliado a una AFP y pertenecías al SNP cuando se crearon las AFP? 
                    Tú podrías recibir una pensión equivalente, en términos anuales, a nuestra pensión mínima, gracias al compromiso que asumió el Estado a fin de completar la parte de la pensión que no se puede cubrir con el dinero de tu capital individual en una AFP. 
                </p>
                <p><b>Bono Complementario para Pensión Mínima en el SPP</b></p>
            </div>
            <img loading="lazy" src="../../../assets/images/facil/afp_bono3.png">
        </div>
        <div class="bonus__card">  
            <div class="bonus__content">
                <p>
                    Si te afiliaste a una AFP antes del 2 de enero de 2002 y en ese momento cumplías con las condiciones para jubilarte de manera adelantada en el SNP, es decir, si eres mujer, tenías 50 años de edad y 25 años (300 unidades de aporte) y si eres hombre, 55 años de edad y 30 años de aporte (360 unidades de aporte), entonces este bono aplica para ti. 
                </p>
                <p><b>Bono Complementario de Jubilación Adelantada - BCJA</b></p>
            </div>
            <img loading="lazy" src="../../../assets/images/facil/afp_bono4.png">
        </div>
    </div>
</section>

<section class="bonus pension">
    <h2>Pensiones</h2>
    <div class="bonus__carrusel" id="pension-carrusel">
        <div class="bonus__card">  
            <div class="bonus__content">
                <p>
                    Te corresponde si en tu AFP recibes una pensión de jubilación menor a la mínima, a pesar de haber cumplido con las condiciones para una pensión mínima en el SNP cuando entró en vigencia la Ley Nº 27617.
                </p>
                <p><b>Pensión Complementaria para Pensión Mínima en el SNP - PCPM </b></p>
            </div>
            <img loading="lazy" src="../../../assets/images/facil/afp_pension1.png">
        </div>
        <div class="bonus__card">  
            <div class="bonus__content">
                <p>
                    Si eres pensionista de una AFP y estás o estarás bajo el régimen extraordinario de jubilación anticipada para labores de riesgo Ley Nº 27252, esta pensión complementaria va para ti.
                </p>
                <p><b>Pensión Complementaria para Labores de Riesgo en el SPP</b></p>
            </div>
            <img loading="lazy" src="../../../assets/images/facil/afp_pension2.png">
        </div>
        
    </div>
</section>

<section class="menu-columns">
    <ul> 
      <li><a [routerLink]="['/Facil','ventajas']">Tus ventajas y facilidades</a></li>
      <li><a [routerLink]="['/Facil','afiliarte']">Afiliate al SNP</a></li>
      <li><a [routerLink]="['/Facil','opciones']">Tus opciones de jubilación</a></li>
      <li><a [routerLink]="['/Facil','beneficios']">Tus beneficios</a></li>
      <li><a [routerLink]="['/Facil','cifras']">Cifras del SNP</a></li>
    </ul>
  </section>