<aside class="top-menu-movil">
    <div class="btn-toogle-menu" onclick="toogleMenuTop();">
        <img class="img-arrow" src="../../../../assets/images/arrow-down.svg" alt="flecha abajo">
    </div> 
    <ul class="top-menu">
        <li><a onclick="setPosition('ventajas')">Tus ventajas y facilidades</a></li>
        <li><a onclick="setPosition('afiliarte')">Afiliate al SNP</a></li>
        <li><a onclick="setPosition('opciones')">Tus opciones de jubilación</a></li>
        <li><a onclick="setPosition('beneficios')">Tus beneficios</a></li>
        <li><a onclick="setPosition('cifras')">Cifras del SNP</a></li>
        <li><a onclick="setPosition('financiamiento')">Financiamiento</a></li>
         
    </ul>
</aside>

<div class="onp-submenu-header onp-bg-primary">
    <div id="onp-submenu" class="onp-submenu">
      <div class="onp-submenu-item">
        <span
          id="btn-ventajas"
          onclick="setPosition('ventajas')"
          class="onp-color-tertiary"
        >
          Tus ventajas y<br />
          facilidades
        </span>
      </div>
      <div class="onp-submenu-item">
        <span
          id="btn-afiliarte"
          onclick="setPosition('afiliarte')"
          class="onp-color-tertiary"
          >Afíliate al SNP</span
        >
      </div>
      <div class="onp-submenu-item">
        <span
          id="btn-opciones"
          onclick="setPosition('opciones')"
          class="onp-color-tertiary"
        >
          Tus opciones de jubilación
        </span>
      </div>
      <div class="onp-submenu-item">
        <span
          id="btn-beneficios"
          onclick="setPosition('beneficios')"
          class="onp-color-tertiary"
          >Tus beneficios</span
        >
      </div>
      <div class="onp-submenu-item">         
        <span
          id="btn-cifras"
          onclick="setPosition('cifras')"
          class="onp-color-tertiary"
          >Cifras del SNP</span> 
      </div>
      <div class="onp-submenu-item">         
        <span
          id="btn-financiamiento"
          onclick="setPosition('financiamiento')"
          class="onp-color-tertiary"
          >Financiamiento</span> 
      </div>
    </div>
</div>

<div class="banner">
    <div class="banner__wrapper">
        <picture>
            <source media="(max-width: 768px)" srcset="../../../assets/images/facil/banner-onp-facil-movil.jpg">
            <source media="(min-width: 1024px)" srcset="../../../assets/images/facil/banner-onp-facil-desktop.jpg">
            <img loading="lazy" src="../../../assets/images/facil/banner-onp-facil-desktop.jpg">
        </picture>
        <div class="banner__detail">
            <h1 class="animate__animated animate__fadeInDown">Imagina un grupo de personas reunidas para ayudarse.<br><b>Eso es el Sistema Nacional de Pensiones.</b></h1>
        </div>
    </div>
    <div class="banner__content">
        <img loading="lazy" src="../../../assets/images/facil/bg-rounded-bottom.png">
        <div class="banner__title">
            <h3>Imagina un grupo de personas reunidas para ayudarse.<br><b>Eso es el Sistema Nacional de Pensiones.</b></h3>
        </div>
    </div>
</div>

<section class="advantage">
    <p class="advantage__p1 pt-0" id="ventajas">El SNP es un sistema de personas que se ayudan mutuamente.</p>
    <h3 class="title-onp-1 pt-0">Estas son tus ventajas y facilidades</h3>
    <div class="advantage__users">
        <div class="advantage__card-user" id="user-afiliado" onclick="showCarrusel1()">
            <img loading="lazy" src="../../../assets/images/card_user1.jpg" alt="">
            <p>Si te afilias, con tu aporte de cada mes construyes tu pensión y, además, permites que las y los pensionistas cobren sus pensiones.</p>
        </div>
        <div class="advantage__card-user" id="user-pensionista"  onclick="showCarrusel2()">
            <img loading="lazy" src="../../../assets/images/card_user2.jpg" alt="">
            <p>Cuando eres pensionista, cada mes puedes cobrar tu pensión porque las personas afiliadas pagan sus aportes.</p>
        </div>
    </div>
    <p class="advantage__p2">Cuando eres afiliada o afiliado</p>

    <div class="advantage__carrusel" id="carrusel-afiliados">
        <div class="advantage__item">
            <img loading="lazy" src="../../../assets/images/facil/icon-home-money.svg">
            <p>Puedes pedir asesoría personalizada gratis a través de cualquiera de nuestros canales oficiales.</p>
        </div>
        <div class="advantage__item">
            <img loading="lazy" src="../../../assets/images/facil/icon-hand.svg">
            <p>Tu futura pensión nunca será menor que S/ 500.</p>
        </div>
        <div class="advantage__item">
            <img loading="lazy" src="../../../assets/images/facil/icon-alcancia.svg">
            <p>Puedes mejorar el monto de tu futura pensión. Si ya realizas aportes obligatorios, puedes sumar aportes como independiente.</p>
        </div>
        <div class="advantage__item">
            <img loading="lazy" src="../../../assets/images/facil/icon-prestamo.svg">
            <p>Puedes pedir un préstamo por hasta 3 años (36 unidades de aporte) para acceder a tu pensión.</p>
        </div>
        <div class="advantage__item">
            <img loading="lazy" src="../../../assets/images/facil/icon-users.svg">
            <p>Tus familiares podrían tener una pensión cuando les faltes.</p>
        </div>
        <div class="advantage__item">
          <a href="../../../assets/images/facil/convenios_onp_paises.pdf" target="_blank" rel="noopener">
            <img loading="lazy" src="../../../assets/images/facil/icon-viajes-extrangero.svg">
            <p>Si vives en el extranjero, puedes sumar los aportes que realizaste en el Perú y los que realizas allá para acceder a una pensión en ambos países. Mira con qué países tenemos convenio aquí.</p>
          </a>
        </div>
        <div class="advantage__item">
            <img loading="lazy" src="../../../assets/images/facil/icon-adelanto.svg">
            <p>Puedes pagar por adelantado hasta 3 años (36 unidades de aporte) para acceder a tu pensión.</p>
        </div>
        <div class="advantage__item">
            <img loading="lazy" src="../../../assets/images/facil/icon-asesoria.svg">
            <p>Puedes solicitar asesoría personalizada gratuita a través de cualquiera de nuestros canales oficiales.</p>
        </div>
    </div>
    
    <div class="advantage__carrusel" id="carrusel-pensionistas" style="display: none;">
        <div class="advantage__item">
            <img loading="lazy" src="../../../assets/images/facil/icon-pension-vida.svg">
            <p>Cobrarás tu pensión todos los meses durante toda tu vida.</p>
        </div>
        <div class="advantage__item">
            <img loading="lazy" src="../../../assets/images/facil/icon-pension-julio.svg">
            <p>Recibes pensión adicional en julio y en diciembre</p>
        </div>
        <div class="advantage__item">
            <img loading="lazy" src="../../../assets/images/facil/icon-bonificaciones.svg">
            <p>Puedes recibir bonificaciones automáticas junto con tu pensión.</p>
        </div>
        <div class="advantage__item">
            <img loading="lazy" src="../../../assets/images/facil/icon-essalud.svg">
            <p>Tienes servicio de salud en EsSalud.</p>
        </div>
        <div class="advantage__item">
            <img loading="lazy" src="../../../assets/images/facil/icon-home-user.svg">
            <p>Puedes cobrar tu pensión sin salir de tu casa.</p>
        </div>
        <div class="advantage__item">
          <a href="../../../assets/images/facil/convenios_onp_paises.pdf" target="_blank" rel="noopener">
            <img loading="lazy" src="../../../assets/images/facil/icon-globo-pais.svg">
            <p>Puedes solicitar cobrar tu pensión desde el país donde te encuentres. Mira con qué países tenemos convenio aquí.</p>
          </a>
        </div>
    </div>
</section>

<section class="joinup" id="afiliarte">
    <picture>
        <source media="(max-width: 768px)" srcset="../../../assets/images/facil/unete.png">
        <source media="(min-width: 1024px)" srcset="../../../assets/images/facil/unete-desktop.png">
        <img loading="lazy" src="../../../assets/images/facil/unete-desktop.png" alt="Únete ONP">
    </picture>
    <div class="joinup__detail">
        <article class="joinup__info1">
            <p class="p-detail">Ya imaginaste a este grupo de personas reunidas para ayudarse.</p>
            <p class="p-detail2">Tú puedes ser parte de él.</p>
        </article>   
        <article class="joinup__info2">
            <p class="p-detail">Conoce cómo puedes afiliarte. Cuánto y cómo puedes aportar para tu futura pensión.</p>
            <a [routerLink]="['/Unete']" class="btn-first">Aquí</a>
        </article>  
    </div>
</section>

<section class="pension" id="opciones">
    <picture>
        <source media="(max-width: 768px)" srcset="../../../assets/images/facil/asegura-tu-pension-movil.jpg">
        <source media="(min-width: 1024px)" srcset="../../../assets/images/facil/pension-desktop.jpg">
        <img loading="lazy" src="../../../assets/images/facil/pension-desktop.jpg" alt="Asegura tu pensión">
    </picture>
    <div class="pension__detail">
        <h3>Tus años de esfuerzo aseguran tu pensión</h3>
        <p class="p-detail">Conoce tus opciones de jubilación</p>
        <a [routerLink]="['/Asegura']" class="btn-first mb-0 onp-content-btn">Aquí</a>
    </div>
</section>

<section class="inability">
    <picture>
        <source media="(max-width: 768px)" srcset="../../../assets/images/facil/discapacidad-movil.jpg">
        <source media="(min-width: 1024px)" srcset="../../../assets/images/facil/pension-incapacidad-desktop.jpg">
        <img loading="lazy" src="../../../assets/images/facil/pension-incapacidad-desktop.jpg" alt="Pensión por incapacidad">
    </picture>
    <div class="inability__detail">
        <h3>En caso de discapacidad...</h3>
        <p class="p-detail">Tú puedes acceder a una pensión completa o proporcional si has perdido la capacidad de trabajar debido a un daño ocasionado en tu salud.</p>
        <p class="p-detail small-text">Conoce más de la Pensión por Discapacidad para el Trabajo</p>
        <a  href="https://www.gob.pe/723-solicitar-pension-de-discapacidad-para-el-trabajo-d-l-n-19990" target="_blank" rel="noopener" class="btn-first mb-0">Aquí</a>
    </div>
</section>

<section class="family">
    <div class="family__header">
        <picture>
            <source media="(max-width: 768px)" srcset="../../../assets/images/facil/bg-rounded-top.png">
            <source media="(min-width: 1024px)" srcset="../../../assets/images/facil/top-header-desktop.png">
            <img loading="lazy" src="../../../assets/images/facil/top-header-desktop.png" alt="Pensión por incapacidad">
        </picture>
        <div class="family__content">
            <h2>Protegemos a tu familia</h2>
        </div>
    </div>

    <div class="family__item" id="carrusel-family">
      
      <div class="family__card section">
          <h3>Cónyuge o<br>conviviente</h3>
          <img src="../../../assets/images/facil/tab-conyuge.jpg" alt="Cónyuge o conviviente">
          <h4>Pensión para tu cónyuge o conviviente</h4>
          <p>Tu cónyuge o conviviente con declaración de unión de hecho puede convertirse en beneficiaria o beneficiario de una pensión cuando le faltes, siempre y cuando tú recibas pensión (o hayas tenido derecho a recibirla).</p>
          <a ref="https://www.gob.pe/714-solicitar-pension-de-viudez-d-l-n-19990" target="_blank" rel="noopener" class="btn-first mb-0">Conoce más</a>
      </div>
      <div class="family__card section">
        <h3>Hijas o<br>hijos</h3>
        <img src="../../../assets/images/facil/tab-hijos.jpg" alt="Hijas o hijos">
        <h4 class="onp-color-primary">Pensión para tus hijas o hijos</h4>
        <p>
          Tus hijas o hijos menores de 18 años pueden convertirse en beneficiarias o beneficiarios de una pensión cuando les faltes, siempre y cuando tú recibas pensión (o hayas tenido derecho a recibirla).<br>
          También aplica para tus hijas o hijos mayores de 18 años que siguen estudios de nivel básico o superior en forma ininterrumpida o si tienen discapacidad permanente parcial o total para el trabajo.
        </p>
        <a href="https://www.gob.pe/718-solicitar-pension-de-orfandad-d-l-n-19990" target="_blank" rel="noopener" class="btn-first mb-0">Conoce más</a>
      </div>
      <div class="family__card section">
        <h3>Madre o<br>padre</h3>
        <img src="../../../assets/images/facil/tab-padres.jpg" alt="Madre o padre">
        <h4 class="onp-color-primary">Pensión para tu madre o padre</h4>
        <p>Tu madre o padre pueden convertirse en beneficiaria o beneficiario de una pensión cuando le faltes; siempre que recibas (o hayas tenido derecho a recibir) pensión. Además, si tienen alguna discapacidad o si tu padre tiene como mínimo 60 años de edad o tu madre tiene como mínimo 55 años de edad. También aplica si tus padres dependen económicamente de ti y ya no reciben ingresos mayores al monto de la pensión que te corresponde o te correspondía.</p>
        <a href="https://www.gob.pe/10301-solicitar-pension-de-ascendientes-d-l-n-19990" target="_blank" rel="noopener" class="btn-first mb-0">Conoce más</a>
      </div>
      <div class="family__card section">
        <h3>Capital de<br>defunción</h3>
        <img src="../../../assets/images/facil/tab-capital-defuncion.jpg" alt="Capital de defunción">
        <h4 class="onp-color-primary">Capital de defunción</h4>
        <p>
          Este es un pago único que se brinda en caso de no haber familiares
          beneficiarios de una pensión y se otorga al primer familiar de
          acuerdo al siguiente orden: <br />
          • La o el cónyuge o conviviente con declaración de unión de hecho.
          <br />
          • Las hijas y los hijos. <br />
          • La madre y/o el padre. <br />
          • Las hermanas y los hermanos menores de 18 años de edad. <br />
        </p>
        <a href="https://www.gob.pe/9187-solicitar-capital-de-defuncion-d-l-n-19990" target="_blank" rel="noopener" class="btn-first mb-0">Conoce más</a>
        <a href="../../../assets/images/facil/caso2-luis.pdf" target="_blank" rel="noopener" class="btn-first mb-0">Ver ejemplo</a>
      </div>
    </div>
    <ng-container>
        <div class="tab">
          <nav class="nav-tab-container">
            <ul
              class="nav nav-tabs flex-column flex-sm-row"
              id="pills-tab"
              role="tablist"
            >
              <li class="nav-item" role="presentation">
                <a
                  class="flex-sm-fill text-sm-center nav-link active"
                  id="pills-viudez-tab"
                  data-toggle="pill"
                  href="#pills-viudez"
                  role="tab"
                  aria-controls="pills-viudez"
                  aria-selected="true"
                  onclick="openTabs(event, 'pills-viudez')"
                  >Cónyuge o conviviente</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="pills-orfandad-tab"
                  data-toggle="pill"
                  href="#pills-orfandad"
                  role="tab"
                  aria-controls="pills-orfandad"
                  aria-selected="false"
                  onclick="openTabs(event, 'pills-orfandad')"
                  >Hijas o hijos</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="pills-ascendencia-tab"
                  data-toggle="pill"
                  href="#pills-ascendencia"
                  role="tab"
                  aria-controls="pills-ascendencia"
                  aria-selected="false"
                  onclick="openTabs(event, 'pills-ascendencia')"
                  >Madre o padre</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="pills-defuncion-tab"
                  data-toggle="pill"
                  href="#pills-defuncion"
                  role="tab"
                  aria-controls="pills-defuncion"
                  aria-selected="false"
                  onclick="openTabs(event, 'pills-defuncion')"
                  >Capital de defunción</a
                >
              </li>
            </ul>
          </nav>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-viudez"
              role="tabpanel"
              aria-labelledby="pills-viudez-tab"
            >
              <div class="tab-onp-content">
                <img
                  src="../../../assets/images/onp-facil-conyuge.jpg"
                  alt="onp-tabs-uno"
                  width="300"
                  height="300"
                />
                <div class="tab-onp-content-detail">
                  <h4 class="onp-color-primary">
                    Pensión para tu cónyuge o conviviente
                  </h4>
                  <p>
                    Tu cónyuge o conviviente con declaración de unión de hecho puede convertirse en beneficiaria o beneficiario de una pensión cuando le faltes, siempre y cuando tú recibas pensión (o hayas tenido derecho a recibirla).
                  </p>
                  <a class="btn-first" href="https://www.gob.pe/714-solicitar-pension-de-viudez-d-l-n-19990" target="_blank" rel="noopener">Conoce más</a>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade show active"
              id="pills-orfandad"
              role="tabpanel"
              aria-labelledby="pills-orfandad-tab"
            >
              <div class="tab-onp-content">
                <img
                  src="../../../assets/images/hijas_e_hijos.jpg"
                  alt="onp-tabs-uno"
                  width="300"
                  height="300"
                />
                <div class="tab-onp-content-detail">
                  <h4 class="onp-color-primary">Pensión para tus hijas o hijos</h4>
                  <p>
                    Tus hijas o hijos menores de 18 años pueden convertirse en beneficiarias o beneficiarios de una pensión cuando les faltes, siempre y cuando tú recibas pensión (o hayas tenido derecho a recibirla).<br>
                    También aplica para tus hijas o hijos mayores de 18 años que siguen estudios de nivel básico o superior en forma ininterrumpida o si tienen discapacidad permanente parcial o total para el trabajo.
                  </p>
                  <a class="btn-first" href="https://www.gob.pe/718-solicitar-pension-de-orfandad-d-l-n-19990" target="_blank" rel="noopener">Conoce más</a>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade show active"
              id="pills-ascendencia"
              role="tabpanel"
              aria-labelledby="pills-ascendencia-tab"
            >
              <div class="tab-onp-content">
                <img
                  src="../../../assets/images/madre_o_padre.jpg"
                  alt="onp-tabs-uno"
                  width="300"
                  height="300"
                />
                <div class="tab-onp-content-detail">
                  <h4 class="onp-color-primary">Pensión para tu madre o padre</h4>
                  <p>
                    Tu madre o padre pueden convertirse en beneficiaria o beneficiario
                    de una pensión cuando le faltes; siempre que recibas (o hayas
                    tenido derecho a recibir) pensión. Además, si tienen alguna
                    discapacidad o si tu padre tiene como mínimo 60 años de edad o tu
                    madre tiene como mínimo 55 años de edad. También aplica si tus
                    padres dependen económicamente de ti y ya no reciben ingresos
                    mayores al monto de la pensión que te corresponde o te
                    correspondía.
                  </p>
                  <a class="btn-first" href="https://www.gob.pe/10301-solicitar-pension-de-ascendientes-d-l-n-19990" target="_blank" rel="noopener">Conoce más</a>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade show active"
              id="pills-defuncion"
              role="tabpanel"
              aria-labelledby="pills-defuncion-tab"
            >
              <div class="tab-onp-content">
                <img
                  src="../../../assets/images/onp-facil-defuncion.jpg"
                  alt="onp-tabs-uno"
                  width="300"
                  height="300"
                />
                <div class="tab-onp-content-detail">
                  <h4 class="onp-color-primary">Capital de defunción</h4>
                  <p>
                    Este es un pago único que se brinda en caso de no haber familiares
                    beneficiarios de una pensión y se otorga al primer familiar de
                    acuerdo al siguiente orden: <br />
                    • La o el cónyuge o conviviente con declaración de unión de hecho.
                    <br />
                    • Las hijas y los hijos. <br />
                    • La madre y/o el padre. <br />
                    • Las hermanas y los hermanos menores de 18 años de edad. <br />
                  </p>
                  <a class="btn-first" href="https://www.gob.pe/9187-solicitar-capital-de-defuncion-d-l-n-19990" target="_blank" rel="noopener">Conoce más</a>&nbsp;&nbsp;
                  <a href="../../../assets/images/facil/caso2-luis.pdf" target="_blank" rel="noopener" class="btn-first mb-0">Ver ejemplo</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
</section>

<section class="benefits" id="beneficios">
    <div class="benefits__header">
        <picture>
            <source media="(max-width: 768px)" srcset="../../../assets/images/facil/beneficios-movil.jpg" alt="Beneficios SNP">
            <source media="(min-width: 1024px)" srcset="../../../assets/images/facil/tus-beneficios-desktop.jpg">
            <img loading="lazy" src="../../../assets/images/facil/tus-beneficios-desktop.jpg" alt="Beneficios SNP">
        </picture>
        <div class="benefits__detail">
            <h2>Tus beneficios</h2>
            <p>Pertenecer al Sistema Nacional de Pensiones tiene beneficios que tal vez no conocías.</p>
        </div>
    </div>
    <div class="benefits__carrusel box-shadow-1">
        <div class="benefits__wrapper" id="carrusel-benefit">
            <div class="benefits__item">
                <img loading="lazy" src="../../../assets/images/facil/icon-home-money-bolsa.svg" alt="Incrementos">
                <h3>Incrementos</h3>
                <p class="p-detail">El monto de tu pensión puede aumentar bajo ciertas condiciones.</p>
            </div>
            <div class="benefits__item">
                <img loading="lazy" src="../../../assets/images/facil/icon-bonificaciones.svg" alt="Bonificaciones">
                <h3>Bonificaciones</h3>
                <p class="p-detail">Confirma si te corresponde alguna bonificación que se sume a tu pensión.</p>
            </div>
            <div class="benefits__item">
                <img loading="lazy" src="../../../assets/images/facil/icon-beneficios-complementario.svg" alt="Beneficios complementarios">
                <h3>Beneficios complementarios</h3>
                <p class="p-detail">Para las trabajadoras mineras y los trabajadores mineros.</p>
            </div>
        </div>
        <a [routerLink]="['/Beneficios']" class="btn-first">Conoce más</a>
    </div>
</section>

<section class="bonus text-center" id="afp">
    <picture>
        <source media="(max-width: 768px)" srcset="../../../assets/images/facil/bonos-snp.png">
        <source media="(min-width: 1024px)" srcset="../../../assets/images/facil/bonos-desktop.png">
        <img loading="lazy" src="../../../assets/images/facil/bonos-desktop.png" alt="Bonos SNP">
    </picture>
    <aside>
        <h3><b>Si estás en una AFP</b></h3>
        <h4>Seguimos pensando en ti</h4>
        <p class="p-detail">¿Estabas afiliada o afiliado al Sistema Nacional de Pensiones y te trasladaste a una AFP?</p>
        <p class="p-detail">Comprueba si te corresponde un bono o una pensión.</p>
        <a [routerLink]="['/Afp']" class="btn-first">Entérate aquí</a>
    </aside>
</section>

<section class="digits">
    <picture>
        <source media="(max-width: 768px)" srcset="../../../assets/images/facil/cifras-bg-movil.jpg">
        <source media="(min-width: 1024px)" srcset="../../../assets/images/facil/cifras-desktop.jpg">
        <img loading="lazy" src="../../../assets/images/facil/cifras-desktop.jpg" alt="Cifras SNP">
    </picture>
     
    <div class="digits__content">
        <h2>Cifras del SNP</h2>
        <a [routerLink]="['/Afiliados']">
          <div class="digits__item">
              <h3 class="digits__title">Afiliadas y <br>afiliados</h3>
              <img src="../../../assets/images/facil/cifras-afiliados.jpg" alt="Cifras afiliados">
              <div class="digits__number">
                  <h4>Afiliadas y <br>afiliados</h4>
                  <h5>{{TotalAfiliados | number:'1.0-0'}}</h5>
              </div>
          </div>
        </a>
        <a [routerLink]="['/Pensionistas']">
          <div class="digits__item">
            <h3 class="digits__title">Pensionistas y <br>beneficiarias/os</h3>
              <img src="../../../assets/images/facil/cifras-pensionistas.jpg" alt="Cifras pensionistas">
              <div class="digits__number">
                  <h4>Pensionistas y <br>beneficiarias/os</h4>
                  <h5>{{TotalPensionista | number:'1.0-0'}}</h5>
              </div>
          </div>
        </a>
        <div class="digits__item">
          <h3 class="digits__title">Trasladadas y <br>trasladados</h3>
            <img src="../../../assets/images/facil/cifras-trasladados.jpg" alt="Cifras trasladados">
            <div class="digits__number">
                <h4>Trasladadas y <br>trasladados</h4>
                <h5>{{TotalTrasladados | number:'1.0-0'}}</h5>
            </div>
        </div>
    </div>
</section>

<section class="financing section" id="financiamiento">
    <img loading="lazy" src="../../../assets/images/facil/financiamiento-snp.png" alt="Financiamiento SNP">
    <div id="cifras">
        <h3>Financiamiento del SNP</h3>
        <p class="p-detail">Las pensiones se pagan porque hay colaboración.</p>
        <p class="p-detail">Conoce a quienes colaboran para garantizar el pago mensual de las pensiones a las y los pensionistas y a las beneficiarias y beneficiarios.</p>
        <a [routerLink]="['/Financiamiento']" class="btn-first">Ingresa aquí</a>
    </div>
</section>