<!-- <aside>
    <div class="btn-toogle-menu" onclick="toogleMenuTop();">
        <img class="img-arrow" src="../../../../assets/images/arrow-down.svg" alt="flecha abajo">
    </div>
    <ul class="top-menu">
        <li><a [routerLink]="['/Facil']">Tus ventajas y facilidades</a></li>
        <li><a [routerLink]="['/Facil']">Afiliate al SNP</a></li>
        <li><a [routerLink]="['/Facil']">Tus opciones de jubilación</a></li>
        <li><a [routerLink]="['/Facil']">Tus beneficios</a></li>
    </ul>
</aside> -->
