<aside class="onp__top-menu">
    <div class="btn-toogle-menu" onclick="toogleMenuTop();">
        <img class="img-arrow" src="../../../../assets/images/arrow-down.svg" alt="flecha abajo">
    </div>
    <ul class="top-menu">
        <li><a [routerLink]="['/MemorialesAnuales']">Memorias Anuales</a></li>
        <li><a [routerLink]="['/Presentaciones']">Presentaciones</a></li>
        <li><a [routerLink]="['/InformesInstitucionales']">Informes Institucionales</a></li>
        <li><a [routerLink]="['/ActuarialInformation']">Información Actuarial</a></li>
    </ul>
</aside>
<section class="header-page" >
    <article class="header-page__wrapper" style="background: linear-gradient(90deg, #c6c6c6, #ffffff);">
        <div class="header-page__content section">
            <img src="../../../../assets/images/memoraial-icon.svg" alt="Gráfico de barras">
            <h2 class="header-page__title" style="--hero-text-color: var(--white-color);">
                Memorias Anuales
            </h2>
        </div>
    </article>
</section>
 
<section class="actuarial-info section"  >   
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>                
                <div class="card-download__icon">
                    <a href="#"><img src="../../../../assets/images/file-download-icon.svg" alt="Descargar"></a>
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>

        <section class="onp__pagination">
            <ul>
                <li><</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>></li>
            </ul>
        </section>
</section>
 

