<section class="footer">
  <div class="footer__wrapper">
      <div class="footer__col1">
          <img loading="lazy" src="~/../assets/images/logo-onp-footer.svg" alt="logo ONP">
          <p>ONP Te escucha (01) 634-2222</p>
          <a href="https://www.gob.pe/onp" target="_blank" rel="noopener">www.gob.pe/onp</a>
      </div>
      <div class="footer__col2">
          <ul>
              <li><a [routerLink]="['/Inicio']">Inicio</a></li>
              <li><a [routerLink]="['/Facil']">ONP Fácil</a></li>
              <li><a [routerLink]="['/DatosAbiertos']">Datos Abiertos</a></li>
              <li><a [routerLink]="['/Publicaciones']">Normativa</a></li>
          </ul>
      </div>
      <div class="footer__col3">
          <h3>Te puede interesar</h3>
          <a href="https://onpvirtual.pe/" target="_blank" rel="noopener">ONP Virtual</a>
          <a href="https://onpcultura.pe/#/Inicio" target="_blank" rel="noopener">ONP Cultura</a>
      </div>
      <div class="footer__col4">
          <p>Síguenos en:</p>
          <div class="footer__youtube">
            <a href="https://www.facebook.com/ONP.Oficial" target="_blank" rel="noopener">
              <img src="~/../assets/images/fb.svg" alt="" />
            </a>
            <a href="http://twitter.com/onp_peru" target="_blank" rel="noopener">
              <img src="~/../assets/images/twt.svg" alt="" />
            </a>
            <a href="https://youtube.com/c/ONPCanalOficial" target="_blank" rel="noopener">
              <img src="~/../assets/images/yt.svg" alt="" />
            </a>
          </div>
      </div>
  </div>
</section>


<!-- <footer class="footer onp-bg-primary">
  <div class="row-footer">
    <div class="item-footer">
      <div class="logo-footer">
        <img src="~/../assets/images/logo_footer.svg" alt="Logo ONP" />
      </div>
      <p class="item-footer-text">ONP Te escucha (01) 634-2222</p>
      <a
        class="item-footer-text item-footer-text-external"
        href="https://www.gob.pe/onp"
        target="_blank"
        >www.gob.pe/onp</a
      >
    </div>
    <div class="item-footer item-noborder">
      <div class="onp-footer-list">
        <a
          [routerLink]="['/Inicio']"
          class="item-footer-text"
          style="cursor: pointer"
          >Inicio</a
        >
        <a
          [routerLink]="['/Facil']"
          class="item-footer-text"
          style="cursor: pointer"
          >ONP Fácil</a
        >
        <a
          [routerLink]="['/DatosAbiertos']"
          class="item-footer-text"
          style="cursor: pointer"
          >Datos Abiertos</a
        >
        <a
          [routerLink]="['/Publicaciones']"
          class="item-footer-text"
          style="cursor: pointer"
          >Infoteca</a
        >
      </div>
      <div class="onp-footer-list-movil">
        <div class="onp-footer-list-movil-section">
          <a
            [routerLink]="['/Inicio']"
            class="item-footer-text"
            style="cursor: pointer; margin: 0 !important"
            >Inicio</a
          >
          <a
            [routerLink]="['/Facil']"
            class="item-footer-text"
            style="cursor: pointer; margin-right: 0 !important"
            >ONP Fácil</a
          >
        </div>
        <div class="onp-footer-list-movil-section">
          <a
            [routerLink]="['/DatosAbiertos']"
            class="item-footer-text"
            style="cursor: pointer; margin: 0 !important"
            >Datos Abiertos</a
          >
          <a
            [routerLink]="['/Publicaciones']"
            class="item-footer-text"
            style="cursor: pointer; margin: 0 !important"
            >Infoteca</a
          >
        </div>
      </div>
    </div>
    <div class="footer-social">
      <div class="btn-onp-virtual">
        <a class="item-footer-text" href="https://onpvirtual.pe" target="_blank"
          >ONP Virtual</a
        >
      </div>
      <div class="footer-socialnet">
        <p class="footer-social-text">Síguenos en:</p>
        <div class="footer-socialnet-list">
          <span><a href="https://www.facebook.com/ONP.Oficial" target="_blank" rel="noopener"><img src="~/../assets/images/fb.svg" alt="" /></a></span>
          <span><a href="http://twitter.com/onp_peru" target="_blank" rel="noopener"><img src="~/../assets/images/twt.svg" alt="" /></a></span>
          <span><a href="https://youtube.com/c/ONPCanalOficial" target="_blank" rel="noopener"><img src="~/../assets/images/yt.svg" alt="" /></a></span>
        </div>
      </div>
    </div>
  </div>
</footer> -->
