<footer class="footer onp-bg-primary">
  <div class="row-footer">
    <div class="item-footer">
      <div class="logo-footer">
        <img src="../../assets/images/logo_footer.svg" alt="" />
      </div>
      <p class="item-footer-text">ONP Te escucha (01) 634-2222</p>
      <a
        class="item-footer-text item-footer-text-external"
        href="https://www.gob.pe/onp"
        target="_blank"
        >www.gob.pe/onp</a
      >
    </div>
    <div class="item-footer item-noborder">
      <div class="onp-footer-list">
        <a
          [routerLink]="['/Inicio']"
          class="item-footer-text"
          style="cursor: pointer"
          >Inicio</a
        >
        <a
          [routerLink]="['/Facil']"
          class="item-footer-text"
          style="cursor: pointer"
          >ONP Fácil</a
        >
        <a
          [routerLink]="['/DatosAbiertos']"
          class="item-footer-text"
          style="cursor: pointer"
          >Datos Abiertos</a
        >
        <a
          [routerLink]="['/Publicaciones']"
          class="item-footer-text"
          style="cursor: pointer"
          >Publicaciones</a
        >
      </div>
      <div class="onp-footer-list-movil">
        <div class="onp-footer-list-movil-section">
          <a
            [routerLink]="['/Inicio']"
            class="item-footer-text"
            style="cursor: pointer; margin: 0 !important"
            >Inicio</a
          >
          <a
            [routerLink]="['/Enterate']"
            class="item-footer-text"
            style="cursor: pointer; margin-right: 1.5rem !important"
            >ONP Fácil</a
          >
        </div>
        <div class="onp-footer-list-movil-section">
          <a
            [routerLink]="['/DatosAbiertos']"
            class="item-footer-text"
            style="cursor: pointer; margin: 0 !important"
            >Datos Abiertos</a
          >
          <a
            [routerLink]="['/Publicaciones']"
            class="item-footer-text"
            style="cursor: pointer; margin: 0 !important"
            >Publicaciones</a
          >
        </div>
      </div>
    </div>
    <div class="footer-social">
      <div class="btn-onp-virtual">
        <a class="item-footer-text" href="https://onpvirtual.pe" target="_blank"
          >ONP Virtual</a
        >
      </div>
      <div class="footer-socialnet">
        <p class="footer-social-text">Síguenos en:</p>
        <div class="footer-socialnet-list">
          <span><img src="../../assets/images/fb.svg" alt="" /></span>
          <span><img src="../../assets/images/twt.svg" alt="" /></span>
          <span><img src="../../assets/images/yt.svg" alt="" /></span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- <footer class="footer onp-bg-primary">
    <div class="onp-footersection">
        <img class="onp-footerlogo" src="../../assets/images/logo_footer.svg" alt="" loading="lazy">
        <p class="onp-footertext onp-footertextweb">Oficina de Normalización <br> Previsional</p>
        <p class="onp-footertext onp-footertextweb">Domicilio Legal: Jr. Bolivia 109,<br> Lima 1 - Perú</p>
        <p class="onp-footertext onp-footertextmovil">Oficina de Normalización Previcional Domicilio Legal: Jr. Bolivia 109, Lima 1 - Perú</p>
    </div>
    <div class="onp-footersection1">
        
        <p style="color: white;margin-bottom: 4%;font-family: Arial, Helvetica, sans-serif;font-weight: bold;">ONP Te escucha</p>
        <p class="onp-footertext onp-footertextweb">Lima / Otros<br> Departamentos: (01) 634-2222</p>
        <a class="onp-footertextweb" href="#"><img class="onp-zpfooterlogo" src="../../assets/images/zona_prensa_footer.svg">Zona prensa</a>
        <p class="onp-footertext onp-footertextmovil">Horario de atención de Mesa de Partes: 8:00 a.m. a 4:30 p.m.</p>
        <p class="onp-footertext onp-footertextmovil">ONP Te escucha: Lima / Otros Departamentos: (01) 634-2222</p>
    </div>
    <div class="onp-footersection2">
        <a class="onp-footertextweb" routerLink="/Enterate">Entérate ONP</a>
        <a class="onp-footertextweb" routerLink="/DatosAbiertos">Datos abiertos</a>
        <a class="onp-footertextweb" routerLink="/Publicaciones">Publicaciones</a>
        <div class="onp-footer-linkmovil">
            <a class="" href="#"><img class="onp-zpfooterlogo" src="../../assets/images/zona_prensa_footer.svg">Zona prensa</a>
        </div>
        <div class="onp-footer-linkmovil2">
            <a class="onp-footertextweb" routerLink="/Enterate">Entérate ONP</a>
            <a class="onp-footertextweb" routerLink="/DatosAbiertos">Datos abiertos</a>
            <a class="onp-footertextweb" routerLink="/Publicaciones">Publicaciones</a>
        </div>
    </div>
    <div class="onp-footersection3">
        <p class="onp-footertext ">Síguenos en</p>
        <a href="#">ONP en Facebook</a>
        <a href="#">ONP en Youtube</a>
        <a href="#">ONP en Twitter</a>
        <div class="onp-footertextmovil">
            <p class="onp-footertext ">TE PUEDE INTERESAR</p>
        </div>
        <div class="onp-footertextmovil">
            <a class="" href="#">onp.virtual.pe</a>
            <a class="" href="#">onp.cultura.pe</a>
        </div>
    </div>
</footer> -->
