/* >>>>>>>>>>> Custom Properties <<<<<<<<<<<< */
/* Definidas de forma global en styles.css */

/* >>>>>>>>>>>>>>> Reset <<<<<<<<<<<<<<< */
.menu-top-header  .active {
    background-color: var(--second-color);
    color: var(--white-color);
}
a {
    transition: all 0.5s;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0;
}

h4 {
    font-size: 1rem;
    margin: 0;
}

h5 {
    font-size: 0.85rem;
    margin: 0;
}

h6 {
    font-size: 0.7rem;
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

p {
    line-height: 1.6;
}

/* >>>>>>>>>>>>>>> Components <<<<<<<<<<<<<<<< */

/* Menu Columns */
.menu-columns {
    padding: 1.5rem 1rem;
}

.menu-columns ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-columns li {
    padding: 0.8rem 1rem;
    margin-bottom: 10px;
    text-align: center;
    width: 33%;
    height: 40px;
    line-height: 0.9;
    border-left: thin solid var(--second-color);
    border-right: thin solid var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.menu-columns li:nth-child(even) {
    border-right: 0;
}

.menu-columns li:first-child {
    border-right: 0;
}

.menu-columns li a {
    color: var(--second-color);
    text-decoration: none;
    font-size: 0.8rem;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {

    .menu-columns {
        padding: 4rem 2.5rem 3rem;
        width: var(--max-width);
        margin: 0 auto;
    }

    .menu-columns ul {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    
    .menu-columns ul li:nth-child(3) {
        border-right: 0;
    }

}

/* >>>>>>>>>>>>>>> Utilities <<<<<<<<<<<<<<<< */
.bold {
    font-weight: bold;
}

.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.section {
    padding: 2rem;
}

.contenedor {
    margin: 0 auto;
    max-width: var(--max-width);
}

.btn-first {
    display: inline-block;
    padding: 0.3rem 1.5rem;
    background-color: var(--first-color);
    color: var(--white-color);
    margin: 1.5rem 0 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
}

.btn-first:hover {
    background-color: var(--second-color);
}

.section-title {
    color: var(--second-color);
    font-size: 1.4rem;
    line-height: 0.9;
    font-weight: bold;
    text-align: center;
    padding: 1rem 2rem;
}

.rounded-img {
    border-radius: 50%;
}

.p-left {
    text-align: left;
}

.hide {
    display: none;
}

a.first-link {
    color: var(--white-color);
    text-decoration: underline;
    transition: all 0.3s;
    font-weight: bold;
}

a.first-link :hover {
    color: var(--white-color);
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.btn-first {
    padding: 0.3rem 1.5rem;
    background-color: var(--first-color);
    color: var(--white-color);
    margin: 1.5rem auto 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
}

.btn-first:hover {
    background-color: var(--second-color);
}

/* >>>>>>>>>>>>>>> SITE <<<<<<<<<<<<<<<< */
.banner__wrapper {
    position: relative;
    background-color: var(--bg-color-banner);
}

.banner__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20%;
    padding: 0 2rem;
}

.banner__detail h1 {
    padding: 0;
    line-height: 1;    
}

.collaboration {
    color: var(--second-color);
    padding: 2rem 1.2rem;
    text-align: center;
}

.collaboration h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1;    

}

.collaboration > p {
    font-size: 0.9rem;
    line-height: 1.3;
}

.collaboration__card {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--second-color);
    text-align: left;
    padding: 1rem 0;
}

.collaboration__card img {
    width: 25%;
}

.collaboration__card p {
    margin: 0;
    line-height: 1.2;
}

.collaboration__card p:first-child {
    margin-bottom: 0.6rem;
}

.collaboration__colaborators:last-child {
    border-bottom: 1px solid var(--second-color);
}

.collaboration__detail {
    padding-left: 1.5rem;
}

.quantity {
    background-color: var(--second-color);
    padding: 2rem 1rem;
    margin-bottom: 0;
    color: var(--white-color);
    text-align: center;
}

.quantity p {
    margin: 0 0 1rem;
    line-height: 1.2;
}

.quantity h3 {
    font-size: 1.3rem;
    padding: 0 3rem 1.2rem;
    line-height: 1.1;
}

.quantity h4 {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.5rem 1rem 0;
    line-height: 1.1;
}

.quantity__pensions {
    border-bottom: 1px solid var(--white-color);
}

.quantity__income,
.quantity__pensions {
    border-top: 1px solid var(--white-color);
    padding-bottom: 1rem;
}

.quantity__income h5,
.quantity__pensions h5 {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 3rem;
}

.quantity__income img {
   width: 90%;
}

.quantity__pensions img {
    width: 85%;
 }

 .rounded-footer {
     margin-top: -1px;
 }

 @media screen and (min-width: 1024px) {

    .rounded-footer {
        margin-top: 0;
    }

    .banner__detail {
        flex-direction: row;
        justify-content: flex-start;
        top: 15%;
        left: 16%;
        padding: 0;
        width: 100%;
    }
    
    .banner__detail h1 {
        line-height: 1;  
        font-size: 1.5rem;
        width: 100%;
        text-align: left;  
    }
    
    .banner__detail h1 {
        padding: 0;
        line-height: 1;    
    }
    
    .collaboration {
        padding: 2.5rem 0;
        width: var(--max-width);
        margin: 0 auto;
    }
    
    .collaboration h2 {
        font-size: 1.4rem;    
    }
    
    .collaboration > p {
        font-size: 0.9rem;
        line-height: 1.3;
        padding: 0 12rem 1rem;
    }

    .collaboration__colaborators {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        justify-content: center;
    }
    
    .collaboration__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 0;
        border-right: 1px solid var(--second-color);
        text-align: center;
        padding: 1.5rem 2rem;
    }
    
    .collaboration__card img {
        width: 7rem;
        height: 7rem;
        margin-bottom: 1rem;
    }
    
    .collaboration__card p {
        margin: 0 0 0.8rem;
        line-height: 1.2;
        font-size: 0.9rem;
    }
    
    .collaboration__card p:first-child {
        margin-bottom: 1rem;
    }
    
    .collaboration__colaborators:last-child {
        border-bottom: 0;
        border-right: 0;
    }

    .collaboration__card:last-child {
        border-right: 0;
    }
    
    .collaboration__detail {
        padding-left: 0;
    }
    
    .quantity {
        background-color: var(--second-color);
        padding: 2rem 1rem 0;
        margin-bottom: 0;
        color: var(--white-color);
        text-align: center;
    }
    
    .quantity p {
        margin: 0 0 1.5rem;
        line-height: 1.2;
    }
    
    .quantity h3 {
        font-size: 1.3rem;
        padding: 0 3rem 1.2rem;
        line-height: 1.1;
    }
    
    .quantity h4 {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 3rem 1rem 0;
        line-height: 1.1;
        width: 40%;
        margin: 0 auto;
    }
    
    .quantity__pensions {
        border-bottom: 0;
    }

    .quantity__rounded {
        border: 1px solid var(--white-color);
        border-radius: 100px;
        padding: 1rem 3rem;
    }
    
    .quantity__income,
    .quantity__pensions {
        border-top: 0;
        padding-bottom: 0.5rem;
        width: 650px;
        margin: 0 auto;
    }
    
    .quantity__income h5,
    .quantity__pensions h5 {
        font-size: 1rem;
        font-weight: bold;
        padding: 1rem 3rem 0.5rem;
    }
    
    .quantity__income img {
       width: 90%;
    }
    
    .quantity__pensions img {
        width: 85%;
     }

 }