<section class="banner">
    <div class="banner__wrapper" style="--bg-color-banner: var(--white-color);">
        <picture>
          <source media="(max-width: 768px)" srcset="../../../assets/images/facil/banner-financiamiento-movil.png">
          <source media="(min-width: 1024px)" srcset="../../../assets/images/facil/banner-financiamiento-desktop.png">
          <img loading="lazy" src="../../../assets/images/facil/banner-financiamiento-desktop.png">
        </picture>
        <div class="banner__detail contenedor">
            <h1 class="section-title animate__animated animate__fadeInDown">¿Cómo se financia el SNP?</h1>
        </div>
    </div>
</section>

<section class="collaboration">
    <h2>Las pensiones se pagan porque hay colaboración.</h2>
    <p>Conoce a quienes colaboran para garantizar el pago mensual de las pensiones a las y los pensionistas y a las beneficiarias y beneficiarios aquí</p>
    <div class="collaboration__colaborators">
        <div class="collaboration__card">  
            <img loading="lazy" src="../../../assets/images/facil/afiliados_finc.svg">
            <div class="collaboration__detail">
                <p>El primer colaborador eres <b>tú</b>.</p>
                <p>Con tus aportes no solo construyes tu futura pensión.</p>
                <p>También colaboras para que pensionistas, beneficiarias y beneficiarios puedan cobrar cada mes su pensión.</p>
                <p>Tú formas parte de un sistema de personas que se ayudan mutuamente. Y cuando seas pensionista, habrá alguien que colaborará para ti y tus familiares.</p>
            </div>
        </div>
        <div class="collaboration__card">  
            <img loading="lazy" src="../../../assets/images/facil/tesoro_publico.svg">
            <div class="collaboration__detail">
                <p>El segundo colaborador es el <b>Tesoro Público</b>.</p>
                <p>El órgano del Estado que financia pagos como el de las pensiones.</p>
            </div>
        </div>
        <div class="collaboration__card">  
            <img loading="lazy" src="../../../assets/images/facil/FCR.svg">
            <div class="collaboration__detail">
                <p>El tercer colaborador es el <b>Fondo Consolidado de Reservas</b>, conocido como <b>FCR</b>.</p>
                <p>El FCR es un fondo intangible; es decir, no se puede tocar. Aun así, colabora con el pago de las pensiones de las y los pensionistas, las beneficiarias y los beneficiarios.</p>
            </div>
        </div>
    </div>
</section>

<section class="quantity">
    <h3>¿Cuánto colabora cada uno?</h3>
    <p>Los aportes de las <b>afiliadas y los afiliados</b> cubren el <b>50%</b> de la colaboración necesaria.</p>
    <div class="quantity__income">
        <h5>Ingresos</h5>
        <div class="quantity__rounded">
            <img loading="lazy" src="../../../assets/images/facil/formula-ingresos2.svg">
        </div>
    </div>
    <div class="quantity__pensions">
        <h5>Pensión para pensionistas, beneficiarias y beneficiarios</h5>
        <div class="quantity__rounded">
            <img loading="lazy" src="../../../assets/images/facil/beneficiarios_onp.svg">
        </div>
    </div>
    <h4>Gracias por colaborar hoy. <br>Alguien colaborará para ti y tus familiares mañana.</h4>
</section>
<img class="rounded-footer" loading="lazy" src="../../../assets/images/facil/top-rounded-header.svg">
 <section class="menu-columns">
    <ul> 
      <li><a [routerLink]="['/Facil','ventajas']">Tus ventajas y facilidades</a></li>
      <li><a [routerLink]="['/Facil','afiliarte']">Afiliate al SNP</a></li>
      <li><a [routerLink]="['/Facil','opciones']">Tus opciones de jubilación</a></li>
      <li><a [routerLink]="['/Facil','beneficios']">Tus beneficios</a></li>
      <li><a [routerLink]="['/Facil','cifras']">Cifras del SNP</a></li>
    </ul>
  </section>