<nav
  id="onp-header"
  class="navbar navbar-expand-lg navbar-light onp-header onp-bg-tertiary"
>
  <div class="container-fluid onp-navbar">
    <a class="navbar-brand onp-logo-content" [routerLink]="'/Inicio'">
      <img
        class="onp-brand"
        src="../../../assets/images/SVG/onp_logo_original.svg"
        alt=""
      />
      <img
        class="onp-brand-logo-m"
        src="../../assets/images/logo_footer.svg"
        alt=""
      />
    </a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="m-menuicon" onclick="toggleMenu()">
      <img src="../../assets/images/m-menu.svg" alt="" />
    </div>
    <div
      class="collapse navbar-collapse onp-menu-content"
      id="navbarSupportedContent"
    >
      <div class="onp-indicator"></div>
      <ul class="navbar-nav onp-navmenu">
        <li
          class="nav-item menu-item"
          onmouseover="headerPreSelect1()"
          onmouseout="headerOut1()"
          onclick="headerSelected1()"
        >
          <a
            class="nav-link onp-navitem onp-color-secondary"
            [routerLink]="'/Inicio'"
            [routerLinkActive]="'active'"
            id="item1"
            >Inicio</a
          >
        </li>
        <li
          class="nav-link nav-item menu-item"
          onmouseover="headerPreSelect2()"
          onmouseout="headerOut2()"
          onclick="headerSelected2()"
        >
          <a
            class="nav-link onp-navitem onp-color-secondary"
            [routerLink]="'/Facil'"
            [routerLinkActive]="'active'"
            id="item2"
            >ONP Fácil</a
          >
        </li>
        <li
          class="nav-item menu-item"
          onmouseover="headerPreSelect3()"
          onmouseout="headerOut3()"
          onclick="headerSelected3()"
        >
          <a
            class="nav-link onp-navitem onp-color-secondary"
            [routerLink]="'/DatosAbiertos'"
            [routerLinkActive]="'active'"
            id="item3"
            >Datos abiertos</a
          >
        </li>
        <li
          class="nav-item menu-item"
          onmouseover="headerPreSelect4()"
          onmouseout="headerOut4()"
          onclick="headerSelected4()"
        >
          <a
            class="nav-link onp-navitem onp-color-secondary"
            [routerLink]="'/Publicaciones'"
            [routerLinkActive]="'active'"
            id="item4"
            >Infoteca</a
          >
        </li>
      </ul>
    </div>
    <div class="menu-item onp-external-item">
      <a
        class="onp-navitem onp-external-link"
        href="https://onpvirtual.pe"
        target="_blank"
        >ONP Virtual</a
      >
    </div>
  </div>
  <div class="m-menu">
    <ul class="m-menulist">
      <li class="menu-item">
        <a
          class="menu-link"
          [routerLink]="'/Inicio'"
          [routerLinkActive]="'active'"
          >Inicio</a
        >
      </li>
      <li class="menu-item">
        <a
          class="menu-link"
          [routerLink]="'/Facil'"
          [routerLinkActive]="'active'"
          >ONP Fácil</a
        >
      </li>
      <li class="menu-item">
        <a
          class="menu-link"
          [routerLink]="'/DatosAbiertos'"
          [routerLinkActive]="'active'"
          >Datos abiertos</a
        >
      </li>
      <li class="menu-item">
        <a
          class="menu-link"
          [routerLink]="'/Publicaciones'"
          [routerLinkActive]="'active'"
          >Infoteca</a
        >
      </li>
    </ul>
    <a
      class="menu-link m-link-external"
      href="https://onpvirtual.pe"
      target="_blank"
      >ONP Virtual
    </a>
    <div class="m-menuicon-close text-center" onclick="toggleMenu()">
      <img src="../../assets/images/close_menu.png" alt="" />
    </div>
  </div>
</nav>

 
