<ul>              
    <li style="{{Unete}}"><a [routerLink]="['/Unete']">Afíliate al SNP</a></li>
    <li style="{{Beneficios}}"><a [routerLink]="['/Beneficios']">Tus beneficios</a></li>
    <li style="{{Asegura}}"><a [routerLink]="['/Asegura']">Tus opciones de jubilación</a></li>
    <li style="{{Afp}}"><a  [routerLink]="['/Afp']">Si estás en una AFP</a></li>
    <li style="{{Facil}}"><a [routerLink]="['/Facil','cifras']">Cifras del SNP</a></li>
    <li style="{{Financiamiento}}"><a  [routerLink]="['/Financiamiento']">Financiamiento</a></li>

</ul>
