<div class="onp-background">
  <p class="onp-color-tertiary">
    Conoce toda la información <br />
    en materia previsional <br />
    que tenemos disponible.
  </p>
</div>
<div class="onp-content">
  <h3>Nuestra información</h3>  
  <div class="onp-listcards">
    <div class="onp-card">
      <a [routerLink]="['/MemorialesAnuales']"> 
      <img
        class="img1"
        src="../../../assets/images/SVG/opn-publicaciones-carpeta.svg"
        alt=""
      />
      <p class="onp-color-tertiary">Memorias Anuales</p>
      </a>
    </div>
    <div class="onp-card">
      <a [routerLink]="['/Presentaciones']"> 
      <img
        class="img2"
        src="../../../assets/images/SVG/opn-publicaciones-pc.svg"
        alt=""
      />
      <p class="onp-color-tertiary">Presentaciones</p>
      </a>
    </div>
    <div class="onp-card">      
      <a [routerLink]="['/InformesInstitucionales']"> 
      <img
        class="img3"
        src="../../../assets/images/SVG/opn-publicaciones-bd.svg"
        alt=""
      />
      <p class="onp-color-tertiary">Informes<br />Institucionales</p>
    </a>
    </div>
    
      <div class="onp-card">
        <a [routerLink]="['/ActuarialInformation']">
          <img
            class="img4"
            src="../../../assets/images/SVG/opn-publicaciones-barras.svg"
            alt=""
          />
          <p class="onp-color-tertiary">Información<br />actuarial</p>
        </a>
      </div>
  </div>
</div>

<div class="text-center">
  <div class="onp-section-dos">
    <h3>Estudios Previsionales</h3>
    <div class="onp-info-dos text-center">
      <p class="onp-info-dos-text">
        Accede a la información en materia Previsional <br />planteada por
        expertos
      </p>
      <a class="onp-info-dos-button" href="">Ver estudios</a>
    </div>
  </div>
</div>
