.onp-background {
  position: relative;
  background: url("../../../assets/images/opn-publicaciones-banner.jpg")
    no-repeat;
  background-size: cover;
  background-position: center;
  width: 121%;
  height: 60vh;
  padding-left: 14%;
  padding-right: 14%;
  display: flex;
  flex-direction: row;
  left: -11%;
  box-shadow: 0px 1px 10px #888888;
  -webkit-border-radius: 0% 0% 50% 50%;
  -moz-border-radius: 0% 0% 50% 50%;
  border-radius: 0% 0% 50% 50%;
}

.onp-background > p {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  top: 33%;
  left: 22%;
  line-height: 25px;
}
.onp-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 14%;
  padding-left: 14%;
  margin-top: 2rem;
}
/* .onp-content > h4 {
  text-align: justify;
  width: 90%;
  margin: 20% 0%;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
} */

.onp-content > .onp-listcards {
  display: flex;
  width: 60%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 0%;
  margin-bottom: 5%;
}

.onp-listcards > .onp-card {
  background-color: rgb(20, 27, 77);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  align-items: center;
  flex: 1 0 45%;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  height: 20vh;
  cursor: pointer;
  box-shadow: 0px 1px 10px #888888;
}

.onp-listcards > .onp-card:hover {
  background-color: rgb(111, 155, 154);
}

.onp-card a {
  display: flex;
  justify-content: center;
}

.onp-card img {
  width: 22%;
  background-color: transparent;
}

.onp-card .img3,
.onp-card .img4 {
  margin-left: -2rem;
}

.onp-card .img3 p {
  margin-right: 2rem;
}

.onp-card p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.onp-cards a img {
  width: 40%;
}

.onp-card a:hover {
  text-decoration: none;
}

.onp-section-dos {
  background: url("../../../assets/images/onp-publicaciones-section-2.jpg")
    no-repeat;
  background-size: cover;
  background-position: top;
  height: 55vh;
  /* margin-bottom: 2rem auto; */
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0% 0 7% 0;
}

.onp-section-dos h3 {
  position: absolute;
  top: -2%;
}

.onp-info-dos {
  left: 40%;
  position: absolute;
  top: 45%;
  width: 40vw;
}

.onp-info-dos-text {
  font-size: 1.2rem;
  color: white;
  line-height: 25px;
  margin-bottom: 1rem !important;
}

.onp-info-dos-button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 109, 106);
  -webkit-border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  border-radius: 25px 25px 25px 25px;
  width: 15%;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1.55rem 0.75rem 1.53rem;
  font-size: 1.3rem;
  position: relative;
  text-align: center;
}

.onp-info-dos-button {
  border-color: rgba(20, 27, 77, 1);
  color: #fff;
  background-image: -webkit-linear-gradient(
    100deg,
    rgba(20, 27, 77, 1) 50%,
    transparent 50%
  );
  background-image: linear-gradient(
    100deg,
    rgba(20, 27, 77, 1) 50%,
    transparent 50%
  );
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
}

.onp-info-dos-button:hover {
  background-position: 0;
}

@media only screen and (min-width: 1440px) {
  .onp-background {
    width: 121.5%;
  }

  .onp-background > p {
    font-size: 1.7rem;
    top: 28%;
    left: 22%;
    line-height: 35px;
  }

  .onp-info-dos {
    left: 41%;
    position: absolute;
    top: 40%;
    width: 40vw;
  }
  .onp-info-dos-text {
    font-size: 1.4rem;
    color: white;
    line-height: 35px;
    margin-bottom: 2rem !important;
  }
  .onp-info-dos-button {
    padding: 0.6rem 1.45rem 1rem 1.45rem;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1760px) {
  .onp-background > p {
    font-size: 2.5rem;
    top: 28%;
    left: 22%;
    line-height: 45px;
  }

  .onp-content h3 {
    font-size: 2.5rem;
  }

  .onp-card p {
    font-size: 1.7rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .onp-section-dos h3 {
    font-size: 2.5rem;
  }

  .onp-info-dos {
    left: 38%;
    position: absolute;
    top: 40%;
    width: 40vw;
  }

  .onp-section-dos .onp-info-dos-text {
    font-size: 2.1rem;
    margin-bottom: 3rem;
    line-height: 40px;
  }

  .onp-info-dos-button {
    padding: 0.5rem 1.55rem 0.75rem 1.53rem;
    font-size: 1.7rem;
  }
}