<aside class="onp__top-menu">
    <div class="btn-toogle-menu" onclick="toogleMenuTop();">
        <img class="img-arrow" src="../../../../assets/images/arrow-down.svg" alt="flecha abajo">
    </div>
    <ul class="top-menu">
        <li><a [routerLink]="['/MemorialesAnuales']">Memorias Anuales</a></li>
        <li><a [routerLink]="['/Presentaciones']">Presentaciones</a></li>
        <li><a [routerLink]="['/InformesInstitucionales/001']">Informes Institucionales</a></li>
        <li><a [routerLink]="['/ActuarialInformation/001']">Información Actuarial</a></li>
    </ul>
</aside>
<section class="header-page" >
    <article class="header-page__wrapper" style="background: linear-gradient(90deg, #c6c6c6, #ffffff);">
        <div class="header-page__content section">
            <img src="../../../../assets/images/presentacion-icon.svg" alt="Gráfico de barras">
            <h2 class="header-page__title" style="--hero-text-color: var(--white-color);">
                Presentaciones
            </h2>
        </div>
    </article>
</section>
 
<section class="actuarial-info section"  >   
        <article class="card-download" *ngFor="let item of ListPresentacionesPaginate" >
            <h4 class="onp-info-title onp-color-primary" style="margin-bottom: 10px;">{{item.title}}</h4>
            <div class="card-download__wrapper">               
                <div class="card-download__details">
                    {{item.description}}
                </div>                
                <div class="card-download__details">
                    {{item.date}}
                </div>
                <div class="card-download__icon">
                    <a href="#"><img src="../../../../assets/images/file-download-icon.svg" alt="Descargar"></a>
                    {{item.urlTitle}}
                </div>
            </div>
        </article>
        

        <section *ngIf="showPagination" class="onp__pagination">
            <ul>
                <li style="cursor: pointer;" (click)="anterior()" ><</li>
                <ng-container *ngFor="let item of ListtotalItemsPage">
                    <li  style="cursor: pointer;" (click)="paginar(item)">
                        {{item}}
                    </li>
                  </ng-container>                                    
                <li style="cursor: pointer;" (click)="siguiente()">></li>
            </ul>
        </section>
</section>
 

