<aside class="onp__top-menu">
    <div class="btn-toogle-menu" onclick="toogleMenuTop();">
        <img class="img-arrow" src="~/../assets/images/arrow-down.svg" alt="flecha abajo">
    </div>
    <ul class="top-menu">
        <li><a [routerLink]="['/MemorialesAnuales']">Memorias Anuales</a></li>
        <li><a [routerLink]="['/Presentaciones']">Presentaciones</a></li>
        <li class="dropdown">
            <a [routerLink]="['/InformesInstitucionales/001']">Informes Institucionales <small>▼</small></a>
            <div class="dropdown__content">
                <a [routerLink]="['/InformesInstitucionales/001']">SNP</a>
                <a [routerLink]="['/InformesInstitucionales/002']">Regímenes pesqueros</a>
                <a [routerLink]="['/InformesInstitucionales/003']">Pagos por encargo</a>
                <a [routerLink]="['/InformesInstitucionales/004']">Reforma previsional</a>
                <a [routerLink]="['/InformesInstitucionales/005']">Otros temas</a>
            </div>
        </li>
        <li class="dropdown">
            <a [routerLink]="['/ActuarialInformation/001']">Información Actuarial <small>▼</small></a>
            <div class="dropdown__content">
                <a [routerLink]="['/ActuarialInformation/001']">Cálculos DL 19990</a>
                <a [routerLink]="['/ActuarialInformation/002']">Cálculo Ley 30003</a>
                <a [routerLink]="['/ActuarialInformation/003']">Guía Técnica</a>
            </div>
        </li>
    </ul>
</aside>
<section class="header-page" >
    <article class="header-page__wrapper" style="background: linear-gradient(90deg, #c6c6c6, #ffffff);">
        <div class="header-page__content section">
            <img src="~/../assets/images/presentacion-icon.svg" alt="Gráfico de barras">
            <h2 class="header-page__title" style="--hero-text-color: var(--white-color);">
                Presentaciones
            </h2>
        </div>
    </article>
</section>
 
<section class="actuarial-info section"  >   
        <article class="card-download" *ngFor="let item of ListPresentacionesPaginate" >            
            <h4 class="onp-info-title onp-color-primary" style="margin-bottom: 10px;">                
                <span class="">{{item.title | slice:0:55}}</span>
                <span class="texto-oculto texto-oculto{{item.id}}">{{item.title | slice:55: item.title.length}}</span>
                <span class="texto-oculto texto-oculto{{item.id}} ver-menos" (click)="cerrarTs('texto-oculto'+item.id,'mostrar'+item.id);">{{(item.title.length>55)?'ver menos':''}}</span>
                <span class="mostrar{{item.id}} ver-menos" (click)="mostrarTs('texto-oculto'+item.id,'mostrar'+item.id);"> {{(item.title.length>55)?'...ver más':''}}</span></h4>            
            <div class="card-download__wrapper">               
                <div class="card-download__details">
                    
                    <span class="">{{item.description| slice:0:80}}</span>
                        <span class="texto-oculto texto-oculto-det{{item.id}}">{{item.description | slice:80: item.description.length}}</span>
                        <span class="texto-oculto texto-oculto-det{{item.id}} ver-menos" (click)="cerrarTs('texto-oculto-det'+item.id,'mostrar-det'+item.id);"> {{(item.description.length>80)?'ver menos':''}}</span>
                        <span class="mostrar-det{{item.id}} ver-menos" (click)="mostrarTs('texto-oculto-det'+item.id,'mostrar-det'+item.id);"> {{(item.description.length>80)?'...ver más':''}}</span>
                       
                </div>                
                <div class="card-download__details card-date">
                    Fecha: {{item.date}}
                </div>
                <div class="card-download__icon">
                    <a href="{{this.urlFiles+item.url}}" target="_blank"><img src="~/../assets/images/file-download-icon.svg" alt="Descargar"></a>
                    {{item.urlTitle}}
                </div>
            </div>
        </article>
        

        <section *ngIf="showPagination" class="onp__pagination">
            <ul>
                <li style="cursor: pointer;" (click)="anterior()" ><</li>
                <ng-container *ngFor="let item of ListtotalItemsPage">
                    <li  style="cursor: pointer;" (click)="paginar(item)">
                        {{item}}
                    </li>
                  </ng-container>                                    
                <li style="cursor: pointer;" (click)="siguiente()">></li>
            </ul>
        </section>
</section>
 

