<div class="onp-background">
  <div class="onp-banner">
    <p class="onp-title text-white">
      Consulta nuestras bases <br />
      de datos disponibles
    </p>
  </div>
</div>
<div class="onp-content">
  <p class="onp-content-text">
    Consulta libremente las bases de datos y la información estadística vinculadas a nuestros encargos.
  </p>
</div>
<div class="btn-datos">
  <a type="button" href="https://www.datosabiertos.gob.pe/search/field_topic/econom%C3%ADa-y-finanzas-29?query=onp&sort_by=changed&sort_order=DESC" target="_blank" rel="noopener" class="onp-content-btn">Revisar datos</a>
</div>
