<div class="onp-background">
  <div class="onp-banner">
    <p class="onp-title text-white">
      Consulta nuestras bases <br />
      de datos disponibles
    </p>
  </div>
</div>
<div class="onp-content">
  <p class="onp-content-text">
    Consulta libremente las bases de datos e información estadística relacionada
    al Sistema Nacional de Pensiones, Regimenes Pesqueros, el Seguro
    Complementario de Trabajo de Riesgo y pagos por encargo.
  </p>
  <a type="button" href="#" class="onp-content-btn">Revisar datos</a>
</div>
