<div class="onp-background">
  <div class="onp-banner">
    <p class="onp-title text-white">
      Consulta nuestras bases <br />
      de datos disponibles
    </p>
  </div>
</div>
<div class="onp-content">
  <p class="onp-content-text">
    Consulta libremente las bases de datos e información estadística vinculada al Sistema Nacional de Pensiones, Regímenes Pesqueros, el Seguro Complementario de Trabajo de Riesgo y pagos por encargo.
  </p>
  <a type="button" href="https://www.datosabiertos.gob.pe/group/oficina-de-normalizaci%C3%B3n-previsional-onp" target="_blank" rel="noopener" class="onp-content-btn">Revisar datos</a>
</div>
