<aside class="top-menu-movil">
    <div class="btn-toogle-menu" onclick="toogleMenuTop();">
        <img class="img-arrow" src="../../../../assets/images/arrow-down.svg" alt="flecha abajo">
    </div> 
    <ul class="top-menu">
        <li><a [routerLink]="['/Facil','afiliarte']">Afiliate al SNP</a></li>
        <li><a [routerLink]="['/Facil','beneficios']">Tus beneficios</a></li>
        <li><a [routerLink]="['/Facil','opciones']">Tus opciones de jubilación</a></li>
        <li><a [routerLink]="['/Facil','afp']">Si estas en una AFP</a></li>
        <li><a [routerLink]="['/Facil','cifras']">Cifras del SNP</a></li>
        <li><a [routerLink]="['/Facil','financiamiento']">Financiamiento</a></li>
    </ul>
</aside>

<section class="wrapper__menu">
    <div class="menu-top-header">
        <ul> 
          <li><a [routerLink]="['/Facil','afiliarte']">Afiliate al SNP</a></li>
          <li><a [routerLink]="['/Facil','beneficios']">Tus beneficios</a></li>
          <li><a [routerLink]="['/Facil','opciones']">Tus opciones de jubilación</a></li>
          <li><a [routerLink]="['/Facil','afp']">Si estas en una AFP</a></li>
          <li><a [routerLink]="['/Facil','cifras']">Cifras del SNP</a></li>
          <li><a [routerLink]="['/Facil','financiamiento']">Financiamiento</a></li>
        </ul>
    </div>
</section>

<section class="page-header">
<article class="hero-image" style="--hero-image: url('../../../../assets/images/bg_hero_image1.png'); --hero-attachment: scroll;">
    <aside class="hero-image-opacity">
        <div class="hero-image-content">
            <h2 class="hero-image-title" style="--hero-text-color: var(--white-color);">
                Pensionistas y beneficiarios
            </h2>
        </div>
    </aside>
</article>
</section>
<section class="pensioners section">
    <article class="map-region spacing-y pb-0">
        <div id="chartdiv" style="height: 550px; overflow: hidden; text-align: left;">
        </div>
        <h3 class="section-title">Cifras</h3>
        <select    
            name="IdddlCifras" id="IdddlCifras"  (change)='onChangeCifras()' >
            <option selected>Pensionistas y Beneficiarias/os</option>
            <option >Afiliadas y afiliados</option>
          </select>
        <h3 class="section-title">Departamento</h3>        
        <select   (change)='onChangeDepartametPersonality()' [(ngModel)]="iddepartament" name="IdddlDepartamet" id="IdddlDepartamet" >
            <option value="" selected>--Todos--</option>
            <option *ngFor="let item of ListDepartament" value="{{item.CodigoDepartamento}}">{{item.Departamento}}</option>
          </select>
    </article>
     
    <article class="pensioners-details">
        <h2 class="section-title pb-0">{{TitleDepartemento}}</h2>
        <div class="total-pensioners spacing-y">                                     
            <h3 *ngIf="showTitle" >A nivel nacional</h3>
            <div class="">
                <img src="../../../../assets/images/pensionistas.svg" alt="Pensionistas">                
                <h4 class="total-indicator" data-content="A nivel nacional" >{{TotalGeneral | number:'1.0-0'}}</h4>    
            </div>
        </div>
        <div class="indicator-details spacing-y pb-0">
            <div class="indicator-description" style="--width-indicator-description: {{PorcentajeMujer| number:'1.0-2'}}%;">
                <img src="../../../../assets/images/mujeres.svg" alt="Mujeres">
                <p>Mujeres</p>
            </div>
            <div class="indicator-description" style="--width-indicator-description: {{PorcentajeHombre | number:'1.0-2'}}%;">
                <img src="../../../../assets/images/hombres.svg" alt="Hombres">
                <p>Hombres</p>
            </div>
        </div>
        <div class="indicators-progres-bar">
            <div class="progres-bar first-bar" style="--width-first-bar: {{PorcentajeMujer| number:'1.0-2'}}%; --image-progres-bar: url(../../../../assets/images/mujeres.svg); --bottom-image-position: 0;">{{PorcentajeMujer| number:'1.0-2'}}%</div>
            <div class="progres-bar second-bar" style="--width-second-bar: {{PorcentajeHombre| number:'1.0-2'}}%; --image-progres-bar: url(../../../../assets/images/hombres.svg); --bottom-image-position: 0;">{{PorcentajeHombre | number:'1.0-2'}}%</div>
        </div>

        <div class="age-distribution spacing-y">
            <h3 class="section-title">Distribución por edad</h3>
            <div class="item-age" *ngFor="let item of ListEdad">
                <h4 class="percent-age">{{item.TotalPorcentaje| number:'1.0-2'}}%</h4>
                <p>{{item.RandoEdad}}</p>
            </div>             
        </div>
         <div class="age-distribution total-estado-civil spacing-y">
            <h3 class="section-title">Distribución por estado civil</h3>
            <div class="item-age-estado-civil" *ngFor="let item of ListEstadoCivil" >
                <h4 class="percent-age-estado-civil">{{item.TotalPorcentaje| number:'1.0-2'}}%</h4>
                <p>{{item.EstadoCivil}}</p>                
            </div>            
        </div>
        <div class="indicator-pensioners">
            <h2 class="section-title pb-0">PENSIONISTAS</h2>
            <h3 class="section-title pb-0">Tipo de Pensión</h3>
            <h4 class="total-indicator">{{TotalPensionista | number:'1.0-0'}}</h4>
            <div class="indicator-details spacing-y pb-0">
                <div class="indicator-description" style="--width-indicator-description: {{PorcentajeJubilacion | number:'1.0-2'}}%;">
                    <img src="../../../../assets/images/jubilacion.svg" alt="Jubilación">
                    <p>Jubilación</p>
                </div>
                <div class="indicator-description" style="--width-indicator-description: {{PorcentajeDiscapacidad | number:'1.0-2'}}%;">
                    <p class="user-text"><img src="../../../../assets/images/discapacidad.svg" alt="Discapacidad"><br>
                    Discapacidad <span class="hide-text">para el trabajo</span></p>
                </div>
            </div>
            <div class="indicators-progres-bar">
                <img src="../../../../assets/images/jubilacion2.svg" class="img-left-progres">
                <div class="progres-bar first-bar" style="--width-first-bar: {{PorcentajeJubilacion | number:'1.0-2'}}%; --image-progres-bar: url(../../../../assets/images/jubilacion22.svg); --bottom-image-position: -0.2rem;">{{PorcentajeJubilacion | number:'1.0-2'}}%</div>
                <div class="progres-bar second-bar" style="--width-second-bar: {{PorcentajeDiscapacidad | number:'1.0-2'}}%; --image-progres-bar: url(../../../../assets/images/discapacidad22.svg); --bottom-image-position: -0.2rem;"><p class="percent-text">{{PorcentajeDiscapacidad | number:'1.0-2'}}%</p></div>
                <img src="../../../../assets/images/discapacidad2.svg" class="img-right-progres">
            </div>
        </div>
        <div class="beneficiaries spacing-y">
            <h3 class="section-title pb-0">Beneficiarias y beneficiarios</h3>
            <h4 class="total-indicator">{{TotalBeneficiario | number:'1.0-0'}}</h4>
        </div>
        <div class="bar-graphic">
            <div>
                <p class="percent-bar">{{PorcentajeViudez | number:'1.0-2'}}%</p>
                <div class="v-bar" style="--height-bar: {{PorcentajeViudez*18/100 | number:'1.0-2'}}vh; --bg-bar: var(--second-color);"></div>
            </div>
            <div>
                <p class="percent-bar">{{PorcentajeOrfandad | number:'1.0-2'}}%</p>
                <div class="v-bar" style="--height-bar: {{PorcentajeOrfandad*18/100 | number:'1.0-2'}}vh; --bg-bar: var(--third-color);"></div>
            </div>
            <div>
                <p class="percent-bar">{{PorcentajeAscendencia | number:'1.0-2'}}%</p>
                <div class="v-bar" style="--height-bar: {{PorcentajeAscendencia*18/100 | number:'1.0-2'}}vh; --bg-bar: var(--gray-color);"></div>
            </div>
        </div>
        <div class="desc-bar-graphic">
            <div>
                <p>Pensión de Viudez</p>
            </div>
            <div>
                <p>Pensión de Orfandad</p>
            </div>
            <div>
                <p>Pensión de Ascendencia</p>
            </div>
        </div>
        <br/>
        <div class="advantage__p1 pt-0" style="margin-top: 15px;">
            <div>
                <p style="color: var(--second-color);font-size: 13px;">* {{FechaCorte}}</p>
            </div>
            <div>
                <p style="color: var(--second-color);font-size: 13px;" >* Estadísticas calculadas sobre los datos válidos.</p>
            </div>
        </div>
    </article>
</section>

