<aside>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
</aside>
<section class="header-page">
    <article class="header-page__wrapper" style="background: linear-gradient(90deg, #c6c6c6, #ffffff);">
        <aside class="header-page__image-opacity">
            <div class="header-page__content">
                <img src="../../../../assets/images/bars-icon.svg" alt="Gráfico de barras">
                <h2 class="header-page__title" style="--hero-text-color: var(--white-color);">
                    Información Actuarial
                </h2>
            </div>
        </aside>
    </article>
</section>
<section class="actuarial-info section">

        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>


</section>
