<aside>
    <div class="btn-menu" onclick="toogleMenu();">
        <img class="img-arrow" src="../../../../assets/images/arrow-down.svg" alt="flecha abajo">
    </div>
    <ul class="top-menu">
        <li><a href="#">Memorias Anuales</a></li>
        <li><a href="#">Presentaciones</a></li>
        <li><a href="#">Informes Institucionales</a></li>
        <li><a href="#">Información Actuarial</a></li>
    </ul>
</aside>
<section class="header-page">
    <article class="header-page__wrapper" style="background: linear-gradient(90deg, #c6c6c6, #ffffff);">
        <aside class="header-page__image-opacity">
            <div class="header-page__content">
                <img src="../../../../assets/images/bars-icon.svg" alt="Gráfico de barras">
                <h2 class="header-page__title" style="--hero-text-color: var(--white-color);">
                    Información Actuarial
                </h2>
            </div>
        </aside>
    </article>
</section>
<section class="actuarial-info section">

        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>
        <article class="card-download">
            <div class="card-download__wrapper">
                <div class="card-download__details">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla ipsum itaque autem dolores animi facilis molestiae nam esse unde!
                </div>
                <div class="card-download__icon">
                    <img src="../../../../assets/images/file-download-icon.svg" alt="Descargar">
                    Descargar
                </div>
            </div>
        </article>


</section>
