/* You can add global styles to this file, and also import other style files */
/* >>>>>>>>>>> Custom Properties <<<<<<<<<<<< */
:root {
  --first-color: #FF6D6A;
  --first-alpha-color:rgba(255, 109, 106, 0.75);
  --second-color: #141B4D;
  --second-alpha-color: rgba(20, 27, 77, 0.75);
  --third-color: #6F868F;
  --third-alpha-color: rgba(111, 134, 143, 0.75);
  --four-color: rgb(255, 184, 28);
  --five-color: #6F9BA4;
  --six-color: #6f929b;
  --gray-light-color: #EDEDED;
  --gray-color: #808080;
  --white-color: #ffffff;
  --black-color: #000000;
  --link-color: rgb(255, 184, 28);
  --title-color: var(--second-color);
  --text-color: #222222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: 'Helvetica', sans-serif;
  --max-width: 1024px;
  --border-radius-progressbar: 1.875rem;
  --padding-bar-graphic: 2.2rem;
}

/* >>>>>>>>>>>>>>> Reset <<<<<<<<<<<<<<< */
html {
  scroll-behavior: smooth;
}

html,
body {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.onp-navbar {
  width: var(--max-width);
}

.onp-bg-primary {
  background-color: rgb(20, 27, 77);
}

.onp-color-primary {
  color: rgb(20, 27, 77);
  font-weight: bold;
}

.onp-color-secondary {
  color: rgb(111, 155, 154);
}

.onp-color-tertiary {
  color: #ffffff;
}

.onp-bg-secondary {
  background-color: rgb(255, 252, 230);
}

.onp-bg-tertiary {
  background-color: #ffffff;
}

.onp-bg-quaternary {
  background-color: rgb(142, 144, 137);
}

.onp-bg-coral {
  background-color: rgb(255, 109, 106);
}

.onp-bg-amarillo {
  background-color: rgb(255, 184, 28);
}

.onp-bg-acero {
  background-color: rgb(111, 155, 164);
}

.onp-bg-size {
  position: relative;
}

@media screen and (min-width: 1024px) {

  /* Main submenu top header */
  .wrapper__menu {
    /* background-color: var(--white-color); */
    background-color: var(--white-color);
    border: thin solid var(--second-color);
    border-left: 0;
    border-right: 0;
    margin-top: 80px;
    z-index:1000;
    top:0;
    position: fixed;
    width: 100%;
}

.menu-top-header {
    padding: 0;
    background-color: var(--white-color);
    margin: 0 auto;
    width: 925px;  
}

.menu-top-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-top-header li {
    padding: 0.8rem 2rem;
    line-height: 0.9;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-left: thin solid var(--second-color);
}

.menu-top-header li:nth-child(odd) {
    border-right: 0;
}

.menu-top-header li:first-child {
    border-right: 0;
} 

.menu-top-header li:last-child {
    border-right: thin solid var(--second-color);;
} 

.menu-top-header li a {
    color: var(--second-color);
    text-decoration: none;
    font-size: 0.8rem;
    cursor: pointer;
}

.menu-top-header ul li:nth-child(2) {
    border-right: 0;
}

.banner {
    padding-top: 50px;
}

}