<aside class="top-menu-movil">
    <div class="btn-toogle-menu" onclick="toogleMenuTop();">
        <img class="img-arrow" src="../../../../assets/images/arrow-down.svg" alt="flecha abajo">
    </div> 
    <ul class="top-menu">
        <li><a [routerLink]="['/Facil','ventajas']">Tus ventajas y facilidades</a></li>
        <li><a [routerLink]="['/Facil','afiliarte']">Afiliate al SNP</a></li>
        <li><a [routerLink]="['/Facil','opciones']">Tus opciones de jubilación</a></li>
        <li><a [routerLink]="['/Facil','beneficios']">Tus beneficios</a></li>
        <li><a [routerLink]="['/Facil','cifras']">Cifras del SNP</a></li>
        <li><a [routerLink]="['/Facil','financiamiento']">Financiamiento</a></li>
    </ul>
</aside>

<section class="wrapper__menu">
    <div class="menu-top-header">
        <ul> 
          <li><a [routerLink]="['/Facil','ventajas']">Tus ventajas y facilidades</a></li>
          <li><a [routerLink]="['/Facil','afiliarte']">Afiliate al SNP</a></li>
          <li><a [routerLink]="['/Facil','opciones']">Tus opciones de jubilación</a></li>
          <li><a [routerLink]="['/Facil','beneficios']">Tus beneficios</a></li>
          <li><a [routerLink]="['/Facil','cifras']">Cifras del SNP</a></li>
          <li><a [routerLink]="['/Facil','financiamiento']">Financiamiento</a></li>
        </ul>
    </div>
</section>

<section class="banner">
    <div class="banner__wrapper" style="--bg-color-banner: var(--white-color);">
        <picture>
          <source media="(max-width: 768px)" srcset="../../../assets/images/facil/banner-unete-movil.png">
          <source media="(min-width: 1024px)" srcset="../../../assets/images/facil/banner-unete-desktop.png">
          <img loading="lazy" src="../../../assets/images/facil/banner-unete-desktop.png">
        </picture>
        <div class="banner__detail container">
            <h1 class="section-title animate__animated animate__fadeInDown">Cómo afiliarte al SNP</h1>
        </div>
    </div>
</section>

<section class="join">
    <p>Eres libre de elegir formar parte de nuestro sistema de personas que se ayudan mutuamente.</p>
    <h2>Si decides afiliarte al SNP, estas son las maneras de unirte:</h2>
    <div class="join__carrusel" id="join-carrusel">
        <div class="join__item">
            <img loading="lazy" class="rounded-img" src="../../../assets/images/facil/link_dependiente.jpg">
            <p>Si vas a trabajar por primera vez en forma dependiente, tu empleador te brindará un boletín informativo y un formato para elegir el sistema pensionario. Si eliges pertenecer al SNP, llena el formato y devuélveselo para que comunique tu afiliación a la ONP.</p>
        </div>
        <div class="join__item">
            <img loading="lazy" class="rounded-img" src="../../../assets/images/facil/link_independiente.jpg">
            <p>Si decides aportar en forma independiente, inscríbete de manera directa por nuestros canales oficiales. Conoce más de la afiliación independiente <a href="https://www.gob.pe/10286-afiliarme-al-sistema-nacional-de-pensiones-como-trabajador-independiente" target="_blank" rel="noopener" class="first-link">aquí</a></p>
        </div>
        <div class="join__item">
            <img loading="lazy" class="rounded-img" src="../../../assets/images/facil/link_trabajador_LDI.jpg">
            <p>Si estuviste en nuestro sistema, pero te afiliaste luego a una AFP y ahora decides regresar con nosotros, puedes optar por la Libre Desafiliación Informada. Conoce más <a href="https://www.gob.pe/11368-retornar-al-sistema-nacional-de-pensiones" target="_blank" rel="noopener" class="first-link">aquí</a></p>
        </div>
    </div>
    <div class="carrusel-arrows">
        <span class="arrow-previus2" style="--top: 27rem; --left: 1rem; --background-image: url(../../../../assets/images/facil/left-arrow-white.svg);"></span>
        <span class="arrow-next2" style="--top: 27rem; --right: 1rem; --background-image: url(../../../../assets/images/facil/right-arrow-white.svg);"></span>
    </div>
</section>

<section class="action">
    <p>Si eres afiliada o afiliado, tu aporte construye tu pensión de mañana y además permite a las y los pensionistas cobrar sus pensiones hoy.</p>
    <h3>¿Pero cuánto y cómo aportas?</h3>
</section>

<section class="contribution">
    <div class="contribution__wrapper">
        <div class="contribution__carrusel" id="contribution-carrusel">
            <div class="contribution__item">
                <img loading="lazy" class="rounded-img" src="../../../assets/images/facil/link_dependiente.jpg">
                <div>
                    <h3>Si trabajas en forma dependiente o en planilla</h3>
                    <p>Tú aportas el 13% de tu sueldo mensual y este se convierte en una unidad de aporte. Como tu empleador es quien te paga, es el encargado de descontar ese monto de tu sueldo cada mes y declararlo ante la SUNAT.</p>
                    <p class="m-0"><b>Si te retiras del trabajo, ¿puedes seguir aportando?</b></p>
                    <p>SÍ. Si dejaste de trabajar para una empresa, puedes aportar algún ingreso extra como independiente hasta alcanzar el monto mínimo de una unidad de aporte (13% del sueldo mínimo).</p>
                    <a class="btn-first" href="../../../assets/images/facil/caso-ana.pdf" target="_blank" rel="noopener">Veamos un ejemplo</a>
                </div>
            </div>
            <div class="contribution__item">
                <img loading="lazy" class="rounded-img" src="../../../assets/images/facil/link_independiente.jpg">
                <div>
                    <h3>Si eres independiente</h3>
                    <p>Tú aportas el 13% de tu ingreso mensual declarado que no puede ser menor al sueldo mínimo y lo realizas de manera directa a través de la plataforma virtual Pago Fácil o en modalidad presencial en el Banco de la Nación. Estamos trabajando para que pronto tengas más alternativas para pagar tu aporte.</p>
                    <p class="m-0"><b>Si eres independiente, ¿tienes que aportar todos los meses?</b></p>
                    <p>No. Tú puedes aportar lo que tengas, tomando en cuenta que la unidad de aporte será igual al 13% del monto que hayas declarado como tu ingreso del mes y este no puede ser menor al 13% de un sueldo mínimo.</p>
                    <p class="m-0"><b>Si consigues un trabajo en planilla, ¿podrías aportar como dependiente e independiente a la vez?</b></p>
                    <p>Sí. Y no necesitas hacer ningún trámite ante la ONP. Tus aportes como independiente y dependiente se sumarán de manera automática.</p>
                    <a class="btn-first" href="../../../assets/images/facil/caso-jorge.pdf" target="_blank" rel="noopener">Veamos un ejemplo</a>
                </div>
            </div>
        </div>
        <div class="carrusel-arrows">
            <span class="arrow-previus1" style="--top: 6.25rem; --left: 0; --background-image: url(../../../../assets/images/facil/left-arrow-white.svg);"></span>
            <span class="arrow-next1" style="--top: 6.25rem; --right: 0; --background-image: url(../../../../assets/images/facil/right-arrow-white.svg);"></span>
        </div>    
    </div>
</section>

<section class="menu-columns">
    <ul> 
      <li><a [routerLink]="['/Facil','ventajas']">Tus ventajas y facilidades</a></li>
      <li><a [routerLink]="['/Facil','afiliarte']">Afiliate al SNP</a></li>
      <li><a [routerLink]="['/Facil','opciones']">Tus opciones de jubilación</a></li>
      <li><a [routerLink]="['/Facil','beneficios']">Tus beneficios</a></li>
      <li><a [routerLink]="['/Facil','cifras']">Cifras del SNP</a></li>
    </ul>
</section>
