/* >>>>>>>>>>> Custom Properties <<<<<<<<<<<< */
/* Definidas de forma global en styles.css */

/* >>>>>>>>>>>>>>> Reset <<<<<<<<<<<<<<< */
a {
    transition: all 0.5s;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0;
}

h4 {
    font-size: 1rem;
    margin: 0;
}

h5 {
    font-size: 0.85rem;
    margin: 0;
}

h6 {
    font-size: 0.7rem;
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

p {
    line-height: 1.6;
}

/* >>>>>>>>>>>>>>> Components <<<<<<<<<<<<<<<< */


/* Menu Columns Footer */
.menu-columns {
    padding: 1.5rem 1rem;
}

.menu-columns ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-columns li {
    padding: 0.8rem 1rem;
    margin-bottom: 10px;
    text-align: center;
    width: 33%;
    height: 40px;
    line-height: 0.9;
    border-left: thin solid var(--second-color);
    border-right: thin solid var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.menu-columns li:nth-child(even) {
    border-right: 0;
}

.menu-columns li:first-child {
    border-right: 0;
}

.menu-columns li a {
    color: var(--second-color);
    text-decoration: none;
    font-size: 0.8rem;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {

    .menu-columns {
        padding: 4rem 1rem 2rem;
        width: var(--max-width);
        margin: 0 auto;
    }

    .menu-columns ul {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    
    .menu-columns ul li:nth-child(3) {
        border-right: 0;
    }

}

/* >>>>>>>>>>>>>>> Utilities <<<<<<<<<<<<<<<< */
.bold {
    font-weight: bold;
}

.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.section {
    padding: 2rem;
}

.contenedor {
    margin: 0 auto;
    max-width: var(--max-width);
}

.btn-first {
    display: inline-block;
    padding: 0.3rem 1.5rem;
    background-color: var(--first-color);
    color: var(--white-color);
    margin: 1.5rem 0 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
}

.btn-first:hover {
    background-color: var(--second-color);
}

.section-title {
    color: var(--second-color);
    font-size: 1.4rem;
    line-height: 0.9;
    font-weight: bold;
    text-align: center;
    padding: 1rem 2rem;
}

.rounded-img {
    border-radius: 50%;
}

.p-left {
    text-align: left;
}

.hide {
    display: none;
}

a.first-link {
    color: var(--white-color);
    text-decoration: underline;
    transition: all 0.3s;
    font-weight: bold;
}

a.first-link :hover {
    color: var(--white-color);
}


.btn-first {
    padding: 0.3rem 1.5rem;
    background-color: var(--first-color);
    color: var(--white-color);
    margin: 1.5rem auto 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
}

.btn-first:hover {
    background-color: var(--second-color);
}

.arrow-previus1, 
.arrow-previus2,
.arrow-next1, 
.arrow-next2 {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    top: var(--top);
    position: absolute;
}

.arrow-previus1, 
.arrow-previus2  {
    background-image: var(--background-image);
    left: var(--left);
}

.arrow-next1, 
.arrow-next2 {
    right: var(--right);
    background-image: var(--background-image);
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

/* >>>>>>>>>>>>>>> SITE <<<<<<<<<<<<<<<< */
.banner__wrapper {
    position: relative;
    background-color: var(--bg-color-banner);
}

.banner__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 16%;
    padding: 0 4rem;
}

.banner__detail h1 {
    padding: 0;
    line-height: 1;    
}

.banner__detail .btn-first {
    position: absolute;
    bottom: -95px;
    left: 37%;
    z-index: 999;
}

.join {
    background: linear-gradient(0deg, var(--third-color) 50%, var(--white-color) 50%);
    color: var(--second-color);
    padding: 2.5rem 2.5rem;
    text-align: center;
    position: relative;
}

.join h2 {
    font-size: 1.4rem;
    line-height: 1;
    font-weight: bold;
    padding: 0.5rem 0;
}

.join > p {
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.join img {
   width: 50%;
   margin: 1rem auto 1.5rem;
}

.join__item {
    color: var(--white-color);
}

.join__item p {
    line-height: 1.2;
}

.contribution {
    background-color: var(--gray-color);
    text-align: center;
    color: var(--white-color);
}

.contribution__wrapper {
    margin: 0 2.5rem;
    position: relative;
}

.contribution img {
    width: 50%;
    margin: 0 auto 1.5rem;
}

.contribution h2 {
    color: var(--white-color);
    padding: 0 1rem 1rem;
}

.contribution p {
    font-size: 0.9rem;
    line-height: 1.1;
}

.contribution a {
    color: var(--white-color);
    text-decoration: none;
}

.contribution__detail {
    background-color: var(--white-color);
    color: var(--second-color);
    padding: 2.5rem 1.5rem 1.5rem;
}

.action {
    padding: 2rem 1.5rem 1rem;
    text-align: center;
    color: var(--second-color);
}

.action p {
    line-height: 1;
}

.action h3 {
    font-weight: bold;
    margin: 1rem 0;
    line-height: 1;
}

.contribution__carrusel {
    padding: 1.5rem 0;
    position: relative;
    margin-bottom: 1rem;
}

.contribution__item h3 {
    margin-bottom: 1rem;
    line-height: 1;
}

.contribution__item p {
    margin-bottom: 1rem;
}

.contribution__item .btn-first {
    margin: 0;
}

@media screen and (min-width: 1024px) {
    
    .banner__detail {
        flex-direction: row;
        justify-content: flex-start;
        top: 40%;
        left: 16%;
        padding: 0;
        width: 85%;
    }
    
    .banner__detail h1 {
        line-height: 1;  
        font-size: 1.5rem;
        width: 30%;
        text-align: left;  
    }
    
    .banner__detail .btn-first {
        position: absolute;
        bottom: -85px;
        left: 35%;
        z-index: 1;
        font-size: 1.3rem;
    }
    
    .join {
        background: linear-gradient(0deg, var(--third-color) 55%, var(--white-color) 45%);
        padding: 1.5rem 2.5rem;
    }
    
    .join h2 {
        font-size: 1.2rem;
        line-height: 1;
        font-weight: bold;
        padding: 0 0 1rem;
    }
    
    .join > p {
        margin: 1.5rem 0 0.4rem;
    }
    
    .join img {
       width: 12rem;
    }
    
    .join__carrusel {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: var(--max-width);
        margin: 0 auto;
    }
    
    .join__item {
        color: var(--white-color);
        width: 25%;
    }

    .join__item p {
        font-size: 0.85rem;
    }
    
    .join__item p a {
        font-weight: bold;
        color: var(--white-color);
        text-decoration: underline;
    }

    .join__item a:hover {
        text-decoration: underline;
    }

    .join .carrusel-arrows {
        display: none;
    }

    .action {
        padding: 2.5rem 0;
    }
    
    .action p {
        width: 32%;
        margin: 0 auto 0.5rem;
        line-height: 1.2;
    }
    
    .action h3 {
        margin: 1rem 0 0;
    }

    .contribution__wrapper {
        margin: 0 auto 0;
        width: var(--max-width);
    }
    
    .contribution img {
        width: 22%;
        margin: 0 auto 1.5rem;
    }
    
    .contribution p {
        font-size: 0.9rem;
        line-height: 1.2;
    }
    
    .contribution a {
        color: var(--white-color);
        text-decoration: none;
    }
    
    .contribution__detail {
        background-color: var(--white-color);
        color: var(--second-color);
        padding: 2.5rem 1.5rem 1.5rem;
    }
    
    .contribution__carrusel {
        padding: 1.5rem 0;
        position: relative;
        margin-bottom: 0;
    }

    .contribution__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 4rem;
        text-align: left;
    }
    .contribution__item img {
        margin: 0 2rem 0 0;
    }

    .contribution__item h3 {
        margin-bottom: 1rem;
        line-height: 1;
    }
    
    .contribution__item p {
        margin-bottom: 1rem;
    }

    .contribution__item .btn-first {
        margin-top: 0.6rem;
    }

    .arrow-previus1, 
    .arrow-previus2,
    .arrow-next1, 
    .arrow-next2 {
        width: 20px;
        height: 20px;
        top: 50%;
        position: absolute;
        cursor: pointer;
        background-repeat: no-repeat;
    }

    .arrow-previus1, 
    .arrow-previus2  {
        background-image: var(--background-image);
        left: var(--left);
    }

    .arrow-next1, 
    .arrow-next2 {
        right: var(--right);
        background-image: var(--background-image);
    }

}
