<!-- 
<aside class="top-menu-movil">
    <div class="btn-toogle-menu" onclick="toogleMenuTop();">
        <img class="img-arrow" src="~/../assets/images/arrow-down.svg" alt="flecha abajo">
    </div> 
    <ul class="top-menu">
        <li><a onclick="setPosition('jubilacion')">Jubilación Individual</a></li>
        <li><a onclick="setPosition('alternativas')">Otras alternativas de jubilación</a></li>
        <li><a onclick="setPosition('jubilate-65')">Jubilate antes de los 65 años</a></li>
        <li><a onclick="setPosition('jubilacion-especial')">Jubilaciones especiales</a></li>
    </ul>
</aside> 
-->

<aside class="top-menu-movil">
  <div class="btn-toogle-menu" onclick="toogleMenuTop();">
      <img class="img-arrow" src="~/../assets/images/arrow-down.svg" alt="flecha abajo">
  </div>  
    <app-menu-movil></app-menu-movil>
</aside>

<section class="wrapper__menu">
  <div class="menu-top-header">
    <app-menu active="Asegura"></app-menu>
       
  </div>
</section>

<!-- <div class="onp-submenu-header onp-bg-primary">
    <div id="onp-submenu" class="onp-submenu">
      <div class="onp-submenu-item">
        <span
          id="btn-ventajas"
          onclick="setPosition('jubilacion')"
          class="onp-color-tertiary"
        >
          Jubilación<br />
          Individual
        </span>
      </div>
      <div class="onp-submenu-item">
        <span
          id="btn-afiliarte"
          onclick="setPosition('alternativas')"
          class="onp-color-tertiary"
          >Otras alternativas de jubilación</span
        >
      </div>
      <div class="onp-submenu-item">
        <span
          id="btn-opciones"
          onclick="setPosition('jubilate-65')"
          class="onp-color-tertiary"
        >
        Jubilate antes de los 65 años
        </span>
      </div>
      <div class="onp-submenu-item">
        <span
          id="btn-beneficios"
          onclick="setPosition('jubilacion-especial')"
          class="onp-color-tertiary"
          >Jubilaciones especiales</span
        >
      </div>
    </div>
</div> -->

<section class="banner">
    <div class="banner__wrapper">
        <picture>
          <source media="(max-width: 768px)" srcset="~/../assets/images/facil/banner-asegura-tu-pension-movil.png">
          <source media="(min-width: 1024px)" srcset="~/../assets/images/facil/banner-asegura-tu-pension.png">
          <img loading="lazy" src="~/../assets/images/facil/banner-asegura-tu-pension.png">
        </picture>
        <div class="banner__detail container">
            <h1 class="section-title animate__animated animate__fadeInDown">Tus años de esfuerzo aseguran tu pensión</h1>
        </div>
    </div>
</section>

<section class="retirement-pension" id="jubilacion">
    <h2>Pensión de jubilación individual</h2>
    <p>¿Eres afiliada o afiliado, has cumplido 65 años de edad y has aportado durante 20 o más años (240 unidades de aporte como mínimo)? Entonces te corresponde la pensión más conocida</p>
    <p class="bold"><a href="https://www.gob.pe/9239-solicitar-pension-de-jubilacion-d-l-n-19990" target="_blank" rel="noopener">Conoce más sobre el Régimen General de Pensión de Jubilación Individual >></a></p>
</section>

<section class="calc-pension">
    <h2 class="section-title">Conoce cómo se calcula tu pensión</h2>
    <p>Sigue estos tres simples pasos</p>
    <div class="calc-pension__carrusel" id="pension-carrusel">
      <div class="tab1-detail">     
        <img src="~/../assets/images/facil/icon-calcular-sueldo-tab1.svg" alt="Calculamos tu sueldo">
        <div>
          <p class="bold">Calculamos tu sueldo promedio.</p>
          <p>Para ello tomamos como base tus<br> <span class="text-large">últimos<br>60 sueldos</span> o<br>ingresos sin contar el último mes<br>que aportaste.</p>
        </div>
      </div>
      <div class="tab2-detail">
        <div>
          <p class="bold">Multiplicamos tu sueldo promedio por un porcentaje.</p>
          <p>Como puedes ver en el siguiente cuadro, ese porcentaje depende de la edad que tenías el 2 de enero de 2002.</p>
          <div class="tab2-table">
            <div>
              <p class="first-color">Rango de edad al 02/01/2002</p>
              <p>
                Hasta 29 años de edad<br> 
                De 30 a 39 años de edad<br>
                De 40 a 49 años de edad<br>
                De 50 a 54 años de edad
              </p>
            </div>
            <div>
              <p class="first-color">%</p>
              <p>
                30%<br> 
                35%<br>
                40%<br>
                45%
              </p>
            </div>
          </div>
        </div>                  
      </div>
      <div class="tab3-detail">
        <img src="~/../assets/images/facil/icon-sumamos-sueldo-tab3.svg" alt="Sumamos tu sueldo"> 
        <div>
          <p><span class="text-medium">Sumamos a tu sueldo<br>promedio el 2%</span><br>por cada año adicional.</p>
          <p>Este incremento te corresponde por cada año adicional a los 20 años (240 unidades de aporte).</p>
        </div>
      </div>
    </div>
    <section class="tabs-pension">
        <ng-container>
            <div class="tab">
              <nav class="nav-tab-container">
                <ul
                  class="nav nav-tabs flex-column flex-sm-row"
                  id="pills-tab"
                  role="tablist"
                >
                  <li class="nav-item" role="presentation">
                    <a
                      class="flex-sm-fill text-sm-center nav-link active"
                      id="pills-viudez-tab"
                      data-toggle="pill"
                      href="#pills-viudez"
                      role="tab"
                      aria-controls="pills-viudez"
                      aria-selected="true"
                      onclick="openTabs(event, 'pills-viudez')"
                      >Paso 1</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="pills-orfandad-tab"
                      data-toggle="pill"
                      href="#pills-orfandad"
                      role="tab"
                      aria-controls="pills-orfandad"
                      aria-selected="false"
                      onclick="openTabs(event, 'pills-orfandad')"
                      >Paso 2</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="pills-ascendencia-tab"
                      data-toggle="pill"
                      href="#pills-ascendencia"
                      role="tab"
                      aria-controls="pills-ascendencia"
                      aria-selected="false"
                      onclick="openTabs(event, 'pills-ascendencia')"
                      >Paso 3</a
                    >
                  </li>
                </ul>
              </nav>
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-viudez"
                  role="tabpanel"
                  aria-labelledby="pills-viudez-tab"
                >
                  <div class="tab-onp-content tab1-detail">
                    
                    <img src="~/../assets/images/facil/icon-calcular-sueldo-tab1.svg" alt="Calculamos tu sueldo">
                    <div>
                      <p class="bold">Calculamos tu sueldo promedio.</p>
                      <p>Para ello tomamos como base tus<br> <span class="text-large">últimos<br>60 sueldos</span> o<br>ingresos sin contar el último mes<br>que aportaste.</p>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade show active"
                  id="pills-orfandad"
                  role="tabpanel"
                  aria-labelledby="pills-orfandad-tab"
                >
                  <div class="tab-onp-content tab2-detail">
                    <div>
                      <p class="bold">Multiplicamos tu sueldo promedio por un porcentaje.</p>
                      <p>Como puedes ver en el siguiente cuadro, ese porcentaje depende de la edad que tenías el 2 de enero de 2002.</p>
                      <div class="tab2-table">
                        <div>
                          <p class="first-color">Rango de edad al 02/01/2002</p>
                          <p>
                            Hasta 29 años de edad<br> 
                            De 30 a 39 años de edad<br>
                            De 40 a 49 años de edad<br>
                            De 50 a 54 años de edad
                          </p>
                        </div>
                        <div>
                          <p class="first-color">%</p>
                          <p>
                            30%<br> 
                            35%<br>
                            40%<br>
                            45%
                          </p>
                        </div>
                      </div>
                    </div>                  
                  </div>
                </div>
                <div
                  class="tab-pane fade show active"
                  id="pills-ascendencia"
                  role="tabpanel"
                  aria-labelledby="pills-ascendencia-tab"
                >
                  <div class="tab-onp-content tab3-detail">
                    <img src="~/../assets/images/facil/icon-sumamos-sueldo-tab3.svg" alt="Sumamos tu sueldo"> 
                    <div>
                      <p><span class="text-medium">Sumamos a tu sueldo<br>promedio el 2%</span><br>por cada año adicional.</p>
                      <p>Este incremento te corresponde por cada año adicional a los 20 años (240 unidades de aporte).</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
    </section>
    <div class="two-p">
        <p>Si es necesario, nivelamos tu cálculo.</p> 
        <p>Recuerda que el monto de tu pensión no puede ser menor a S/ 500 ni mayor a S/ 893.</p>
    </div>
    <p>Veamos el caso de Laura</p>
    <a class="btn-first" href="~/../assets/images/facil/caso-de-laura.png" data-lity data-lity-desc="Caso de Laura" rel="noopener">Aquí</a>
</section>

<section class="retire" id="alternativas">
    <picture>
        <source media="(max-width: 768px)" srcset="~/../assets/images/facil/puedes-jubilarte-movil.png">
        <source media="(min-width: 1024px)" srcset="~/../assets/images/facil/jubilate-conyuge.png">
        <img loading="lazy" src="~/../assets/images/facil/jubilate-conyuge.png" alt="Puedes jubilarte con tu cónyuge o conviviente">
    </picture>
    <div class="retire__content">
        <h2 class="section-title">Puedes jubilarte con tu cónyuge o conviviente</h2>
        <p>Suma tus aportes a los de tu cónyuge o conviviente con declaración de unión de hecho.</p>
        <p> Si juntos aportan el mínimo de 20 años (o 240 unidades de aporte) para obtener una pensión, la buena noticia es que les corresponde.</p>
        <p><a href="https://www.gob.pe/12445-solicitar-pension-de-jubilacion-para-la-sociedad-conyugal-y-las-uniones-de-hecho-d-l-n-19990" target="_blank" rel="noopener">Conoce más sobre el Régimen General de Pensión de Jubilación para la sociedad conyugal y las uniones de hecho >></a></p>
    </div>
</section>

<section class="retire-65 section" id="jubilate-65">
    <h2 class="section-title">También puedes jubilarte antes de los 65</h2>
    <div class="retire-65__carrusel" id="retire65-carrusel">
        <div class="retire-65__item">
            <img loading="lazy" class="rounded-img" src="~/../assets/images/facil/link1-antes-de-65.jpg">
            <div>
                <p>Comprueba si esta pensión te corresponde. Si eres mujer, tienes 50 años de edad cumplidos y has aportado como mínimo 25 años (300 unidades de aporte); o si eres hombre, tienes 55 años de edad cumplidos y has aportado como mínimo 30 años (360 unidades de aporte).</p>
                <p class="bold"><a href="https://www.gob.pe/10302-solicitar-pension-de-jubilacion-adelantada-d-l-n-19990" target="_blank" rel="noopener">Conoce más del Régimen de Pensión de Jubilación Adelantada General >></a></p>
            </div>
        </div>
        <div class="retire-65__item">
            <img loading="lazy" class="rounded-img" src="~/../assets/images/facil/link2-antes-de-65.jpg">
            <div>
                <p>Si tienes una discapacidad, puedes adelantar tu pensión sin reducir el monto que te corresponde cobrar. Este régimen va para ti si eres afiliada o afiliado, si tienes 55 años de edad cumplidos y aportaste 20 años (240 unidades de aporte).</p>
                <p class="bold"><a href="https://www.gob.pe/12446-solicitar-pension-de-jubilacion-adelantada-para-personas-con-discapacidad-d-l-n-19990" target="_blank" rel="noopener">Conoce más del Régimen de Pensión de Jubilación Adelantada para Personas con Discapacidad >></a></p>
            </div>
        </div>
    </div>
    <div class="carrusel-arrows">
      <span class="arrow-previus1" style="--top: 10rem; --left: 1rem; --background-image: url(~/../assets/images/facil/left-arrow-white.svg);"></span>
      <span class="arrow-next1" style="--top: 10rem; --right: 1rem; --background-image: url(~/../assets/images/facil/right-arrow-white.svg);"></span>
    </div>    
</section>

<section class="retire-especial section" id="jubilacion-especial">
    <h2 class="section-title">Y hay jubilaciones especiales</h2>
    <p>Atención a estas pensiones. Quizás te correspondan si eres afiliada o afiliado y trabajas en alguno de los siguientes rubros en condiciones penosas que ponen en riesgo tu vida o tu salud:</p>
    <div class="retire-especial__carrusel" id="retire-especial-carrusel">
        <div class="retire-especial__item">
            <div>
                <img loading="lazy" src="~/../assets/images/facil/s1_mineras-y-mineros.svg">
                <div class="blue-box">
                    <p>Conforme a la ley, la ONP debe verificar si estuviste expuesta o expuesto a riesgos al trabajar en la modalidad de tajo abierto o en centros mineros, metalúrgicos o siderúrgicos.</p>
                </div>
            </div>
            <div>
                <h3>Mineras y mineros</h3>
                <p class="p-left">¿Trabajas en socavón? Tú puedes jubilarte con apenas 45 años de edad y con 20 años de aporte (240 unidades de aporte), siempre y cuando 10 de esos años (120 unidades de aporte) correspondan a tu trabajo en socavón.<a href="#" class="text-link">Ver más</a></p>
                <p class="p-left hide">¿O trabajas en tajo abierto? Entonces puedes recibir una pensión a los 50 años de edad y con 25 años de aporte (300 unidades de aporte), siempre y cuando 10 de esos años (120 unidades de aporte) correspondan a tu trabajo en tajo abierto.</p>
                <p class="p-left hide">También puedes acceder a una pensión proporcional a esa edad, pero con menos años de aporte. Para recibirla, solo necesitas tener 20 años de aporte (240 unidades de aporte), siempre y cuando 10 de esos años (120 unidades de aporte) correspondan a tu trabajo en tajo abierto.</p>
            </div>
        </div>
        <div class="retire-especial__item">
            <div>
                <img loading="lazy" src="~/../assets/images/facil/s2_trabajadores-construccion-civil.svg">
            </div>
            <div>
                <h3>Trabajadoras y trabajadores Construcción Civil</h3>
                <p class="p-left">¿Trabajas en construcción civil? Tú puedes jubilarte a los 55 años de edad y con 20 años de aporte (240 unidades de aporte), siempre y cuando cinco de los últimos 10 años (60 unidades de aporte) antes de que dejaras de trabajar correspondan a tus labores en construcción civil.</p>
            </div>
        </div>
        <div class="retire-especial__item">
            <div>
                <img loading="lazy" src="~/../assets/images/facil/s3_trabajadores-maritimos.svg">
            </div>
            <div>
                <h3>Trabajadoras y trabajadores marítimos</h3>
                <p class="p-left">¿Eres trabajadora o trabajador marítimo? Tú puedes jubilarte a los 55 años de edad y con 20 años de aporte (240 unidades de aporte), siempre y cuando cinco de esos años (60 unidades de aporte) correspondan a tus labores como trabajadora o trabajador marítimo.</p>
            </div>
        </div>
        <div class="retire-especial__item">
            <div>
                <img loading="lazy" src="~/../assets/images/facil/s4_periodistas.svg">
            </div>
            <div>
                <h3>Periodistas</h3>
                <p class="p-left">Si eres periodista, tú puedes jubilarte a los 50 años de edad (si eres mujer) o a los 55 años de edad (si eres hombre) y en ambos casos con 20 años de aporte (240 unidades de aporte), siempre y cuando cinco de los últimos 10 años (60 unidades de aporte) antes de que dejaras de trabajar correspondan a tus labores en periodismo.</p>
            </div>
        </div>
        <div class="retire-especial__item">
            <div>
                <img loading="lazy" src="~/../assets/images/facil/s5_pilotos.svg">
            </div>
            <div>
                <h3>Pilotas o pilotos y copilotas o copilotos</h3>
                <p class="p-left">Si trabajas como pilota o piloto o como copilota o copiloto, tú puedes jubilarte desde los 55 años considerando las siguientes precisiones:</p>
                <p class="p-left">•	Si tienes 55 años de edad, tú necesitas 20 años de aporte (240 unidades de aporte), siempre y cuando cinco de esos años (60 unidades de aporte) correspondan a tus labores como pilota o piloto o como copilota o copiloto.</p>
                <p class="p-left hide">•	Si tienes 56 años de edad, tú necesitas 20 años de aporte (240 unidades de aporte), siempre y cuando cuatro de esos años (48 unidades de aporte) correspondan a tus labores como pilota o piloto o como copilota o copiloto.</p>
                <p class="p-left hide">•	Si tienes 57 años de edad, tú necesitas 20 años de aporte (240 unidades de aporte), siempre y cuando tres de esos años (36 unidades de aporte) correspondan a tus labores como pilota o piloto o como copilota o copiloto.</p>
                <p class="p-left hide">•	Si tienes 58 años de edad, tú necesitas 20 años de aporte (240 unidades de aporte), siempre y cuando dos de esos años (24 unidades de aporte) correspondan a tus labores como pilota o piloto o como copilota o copiloto.</p>
                <p class="p-left hide">•	Si tienes 59 años de edad, tú necesitas 20 años de aporte (240 unidades de aporte), siempre y cuando uno de esos años (12 unidades de aporte) corresponda a tus labores como pilota o piloto o como copilota o copiloto.</p>
            </div>
        </div>
        <div class="retire-especial__item">
            <div>
                <img loading="lazy" src="~/../assets/images/facil/s6_cuereros.svg">
            </div>
            <div>
                <h3>Cuereras y cuereros</h3>
                <p class="p-left">Si trabajas en la industria de cueros, tú puedes jubilarte a los 55 años de edad y con 20 años de aporte (240 unidades de aporte), siempre y cuando cinco de esos años (60 unidades de aporte) correspondan a tus labores como cuerera o cuerero.</p>
            </div>
        </div>
        <div class="retire-especial__item">
            <div>
                <img loading="lazy" src="~/../assets/images/facil/s7_amas-de-casa.svg">
            </div>
            <div>
                <h3>Amas de casa</h3>
                <p class="p-left">¿Eres ama de casa? Tú puedes jubilarte a los 55 años de edad y con 20 años de aporte (240 unidades de aporte), siempre y cuando cinco de esos años (60 unidades de aporte) correspondan a tus labores como ama de casa.</p>
            </div>
        </div>
        <div class="retire-especial__item">
            <div>
                <img loading="lazy" src="~/../assets/images/facil/s8_trabajador-hogar.svg">
            </div>
            <div>
                <h3>Trabajadoras o trabajadores del hogar</h3>
                <p class="p-left">Si eres trabajadora o trabajador del hogar, tú puedes jubilarte a los 65 años y con 20 años de aporte (240 unidades de aporte).</p>
            </div>
        </div>
    </div>
    
</section>
 